.btn {
  display: inline-flex;
  align-items: center;
  min-height: 4.7rem;
  padding: 1.8rem 3.7rem;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  text-decoration: none;

  @include media-breakpoint-down(xxxl) {
    font-size: 1.2rem;
    padding: 1.3rem 2.6rem;
  }

  &.btn-primary {
    color: white;
    background-image: linear-gradient(180deg, white 50%, $color-primary 50%);
    background-size: 200% 200%;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    border: solid 0.1rem $color-primary;

    &:hover {
      @include media-breakpoint-up(xl) {
        color: $color-primary;
        background-position: 0% 0%;
      }
    }
  }

  &.btn-outline-primary {
    color: $color-primary;
    background-image: linear-gradient(180deg, white 50%, $color-primary 50%);
    background-size: 200% 200%;
    background-position: 100% 0%;
    background-repeat: no-repeat;
    border: solid 0.1rem $color-primary;

    &:hover {
      @include media-breakpoint-up(xl) {
        color: white;
        background-position: 0% 100%;
      }
    }
  }

  &.btn-outline-secondary {
    color: white;
    background-image: linear-gradient(180deg, transparent 50%, white 50%);
    background-size: 200% 200%;
    background-position: 100% 0%;
    background-repeat: no-repeat;
    border: solid 0.1rem white;

    &:hover {
      @include media-breakpoint-up(xl) {
        color: #232323;
        background-position: 0% 100%;
      }
    }
  }
}
