.btn {
	&-primary {
		color: $white;
		background: linear-gradient(93.82deg, $emerald 3.27%, rgba($green-haze, 0.3) 152.9%);
		border-radius: 1rem;
		transition: $transition;
	}

	&:hover {
		text-decoration: none;
		opacity: 0.9;
	}

	&-sm {
		padding: 1.2rem 2.4rem;
		font-weight: 500;
		font-size: 1.6rem;
	}

	&-md {
		padding: 1.2rem 2.4rem;
		font-weight: 700;
		font-size: 1.8rem;
	}
}
