/* buttons */
.btn {
	display: inline-flex;
	justify-content: center;
	border: none;

	&.btn-primary {
		padding: 1.6rem 6.2rem;
		font-weight: 400;
		font-size: 18px;
		color: white;
		background: #fe4e4e;
		border-radius: 3.7rem;

		&:hover {
			background: darken(#fe4e4e, 5);
		}
	}
}
