/* footer */
#footer {
	padding-top: 11.3rem;
	padding-bottom: 11.6rem;
	overflow: hidden;

	.container {
		> .row {
			display: grid;

			@media (min-width: 1200px) {
				grid-template-columns: repeat(3, 1fr);
				grid-template-columns: 25% 25% 50%;
			}

			@media (max-width: 1200px) {
				grid-template-columns: 40% 60% 60%;
			}

			@media (max-width: 768px) {
				grid-template-columns: 100% 100% 100%;
			}

			> .col {
				&:nth-child(1) {
					@media (max-width: 1200px) {
						grid-row-start: 3;
					}
				}

				&:nth-child(2) {
					@media (max-width: 1200px) {
						grid-row-start: 3;
					}

					@media (max-width: 768px) {
						grid-row-start: unset;
					}
				}

				&:nth-child(3) {
					@media (max-width: 1200px) {
						grid-column-start: 2;
						grid-row-start: 4;
					}

					@media (max-width: 768px) {
						grid-column-start: unset;
					}
				}
			}
		}
	}

	.h3 {
		margin-bottom: 1.5rem;
		font-weight: 700;
		font-size: 2rem;
		color: #435fdd;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}

	.footer-groups {
		@media (max-width: 768px) {
			display: flex;
		}
	}

	.footer-group {
		&:not(:last-child) {
			margin-bottom: 3.5rem;
		}

		&:nth-child(1) {
			order: 2;
		}

		&:nth-child(2) {
			order: 1;

			@media (max-width: 768px) {
				margin-right: 4.8rem;
			}
		}
	}

	.social-menu {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;

		@media (min-width: 1200px) {
			max-width: 23rem;
			flex-wrap: wrap;
		}

		.menu-item {
			@media (min-width: 1200px) {
				margin-bottom: 4.9rem;
			}

			@media (max-width: 768px) {
				margin-bottom: 4.6rem;
			}

			&:not(:last-child) {
				margin-right: 4.6rem;
			}
		}

		.item-link {
			width: 6.4rem;
			height: 6.4rem;
			display: flex;
			align-items: center;
			justify-content: center;
			background: #fe4e4e;
			border-radius: 50%;

			&:hover {
				opacity: 0.7;
			}
		}

		.icon-holder {
			display: flex;
			width: 3rem;

			img {
				width: 100%;
				height: auto;
			}
		}
	}

	.form-control {
		margin-bottom: 5.5rem;
		width: 100%;
		padding: 1.65rem 3.4rem;
		font-weight: 400;
		font-size: 1.8rem;
		color: black;
		background: #ffffff;
		border-radius: 3.7rem;
		border: none;
		outline: none;

		@media (max-width: 768px) {
			margin-bottom: 4.4rem;
		}

		&::placeholder {
			color: rgba(#484848, 0.5);
		}

		&:focus {
			background: rgba(#ffffff, 0.8);
		}
	}

	.footer-form {
		.row {
			display: flex;
			flex-wrap: wrap;
			margin-left: -2.25rem;
			margin-right: -2.25rem;

			@media (max-width: 768px) {
				flex-direction: column;
			}

			.col {
				flex: 0 0 auto;
				width: 50%;
				max-width: 100%;
				padding-left: 2.25rem;
				padding-right: 2.25rem;

				@media (max-width: 768px) {
					width: 100%;
				}

				&:nth-child(3) {
					@media (max-width: 768px) {
						order: 3;
					}
				}
			}
		}

		.btn {
			@media (min-width: 768px) {
				width: 100%;
			}
		}

		.text-holder {
			font-size: 1.8rem;
			line-height: 1.5;
			color: #484848;

			@media (max-width: 768px) {
				margin-bottom: 2.9rem;
				max-width: 22.6rem;
			}

			p {
				margin-bottom: 0;
			}
		}
	}
}
