/* header */
.header {
	padding-top: 3.8rem;
	z-index: 100;

	@include media("<tablet") {
		padding-top: 2rem;
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.logo {
		a {
			position: relative;
			bottom: -0.5rem;
			display: flex;
		}
	}

	.main-nav {
		@include media(">desktop") {
			display: flex;
			align-items: center;
		}

		@include media("<desktop") {
			position: fixed;
			top: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 100%;
			height: 100%;
			padding: 4rem 0;
			background: $hint-of-green;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			transition: $transition;

			.dark & {
				background: $woodsmoke;
			}
		}

		@include media("<desktop") {
			.menu-opened & {
				opacity: 1;
				visibility: visible;
				pointer-events: all;
				transition: $transition;
			}
		}
	}

	.main-menu {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		align-items: center;
		font-weight: 700;
		font-size: 1.6rem;
		color: $woodsmoke;

		@include media("<desktop") {
			margin-bottom: 2rem;
			overflow: auto;
		}

		@include media(">desktop") {
			flex-wrap: wrap;
		}

		.dark & {
			color: $white;
		}

		@include media("<desktop") {
			flex-direction: column;
			font-size: 2.1rem;
		}

		@include media(">desktop") {
			justify-content: end;
		}

		li {
			@include media(">desktop") {
				margin-right: 6.3rem;
			}
			@include media(">lgdesktop") {
				margin-right: 9.3rem;
			}

			@include media("<desktop") {
				margin-bottom: 4rem;
			}
		}
	}

	.login-block {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			align-items: center;
			font-weight: 500;
			font-size: 1.6rem;

			@include media("<desktop") {
				justify-content: center;
			}

			li {
				&:first-child {
					a {
						text-decoration: underline;

						&:hover {
							text-decoration: none;
						}
					}
				}
			}

			.btn {
				margin-left: 3.2rem;
			}
		}
	}

	.open-menu {
		display: none;

		@include media("<desktop") {
			display: block;
			position: relative;
			width: 5rem;
			height: 5rem;
			display: block;
			font-size: 0;
			line-height: 0;
			background: linear-gradient(93.82deg, $emerald 3.27%, rgba($green-haze, 0.3) 152.9%);
			border-left: 1px solid $green-haze;

			span {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 60%;
				transform: translate(-50%, -50%);
				height: 0.2rem;
				background-color: $white;
				transition: all 0.3s;
				opacity: 1;

				@include media("<tablet") {
					width: 3rem;
				}

				@for $i from 1 through 3 {
					&:nth-child(#{$i}) {
						@if ($i == 1) {
							margin-top: -1rem;
						}
						@if ($i == 3) {
							margin-top: 1rem;
						}
					}
				}

				.menu-opened & {
					@for $i from 1 through 3 {
						&:nth-child(#{$i}) {
							@if ($i == 1) {
								margin-top: 0;
								transform: translate(-50%, -50%) rotate(45deg);
							}
							@if ($i == 2) {
								opacity: 0;
								visibility: hidden;
							}

							@if ($i == 3) {
								margin-top: 0;
								transform: translate(-50%, -50%) rotate(-45deg);
							}
						}
					}
				}
			}
		}
	}
}
