.section-intro {
	position: relative;
	margin-top: -11.5rem;
	padding-top: 19.2rem;
	padding-bottom: 10rem;
	background: linear-gradient(to bottom, transparent 30%, $hint-of-green 100%), url(#{$images}img-2.jpg) no-repeat;
	background-size: cover;

	.dark & {
		background: linear-gradient(to bottom, transparent 10%, $woodsmoke 100%), url(#{$images}img-2.jpg) no-repeat;
		background-size: cover;
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, $harp 6.02%, $hint-of-green 72.25%);
		opacity: 0.6;
		z-index: 1;

		.dark & {
			opacity: 0.8;
			background: linear-gradient(180deg, $outer-space 6.02%, $woodsmoke 72.25%);
		}
	}

	&::after {
		content: "";
		position: absolute;
		bottom: -0.1rem;
		left: 0;
		width: 100%;
		height: 50%;
		background: linear-gradient(180deg, $hint-of-green 0%, rgba($harp, 0) 100%);
		opacity: 0.7;
		transform: rotate(-180deg);

		.dark & {
			opacity: 0.7;
			background: linear-gradient(180deg, $woodsmoke 0%, rgba($outer-space, 0) 100%);
		}
	}

	.container {
		position: relative;
		z-index: 2;
		display: flex;

		@include media(">tablet") {
			justify-content: space-between;
		}

		@include media("<tablet") {
			flex-direction: column-reverse;
			align-items: center;
		}
	}

	.background-section {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	h1 {
		margin-top: 7.9rem;
		margin-bottom: 3.6rem;

		@include media("<tablet") {
			margin-bottom: 0;
		}
	}

	.text-holder {
		max-width: 52.7rem;
		font-weight: 300;
		font-size: 2.4rem;
		line-height: 1.33;

		@include media("<tablet") {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			font-size: 1.8rem;
		}
	}

	.btn-holder {
		margin-top: 8rem;

		@include media("<tablet") {
			margin-top: 3rem;
		}

		.btn {
			min-width: 23.6rem;
		}
	}

	.illustration-block {
		position: relative;

		@include media("<tablet") {
			width: 19rem;
			max-width: 100%;
		}

		@include media(">desktop") {
			margin-right: 3.8rem;
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			border-radius: 50%;
			z-index: -2;
		}

		&::before {
			top: 4.3rem;
			right: 1.2rem;
			width: 38.1rem;
			height: 38.1rem;
			background: rgba($emerald, 0.2);

			@include media("<tablet") {
				width: 28.1rem;
				height: 28.1rem;
				right: 3.2rem;
			}
		}

		&::after {
			bottom: -2.5rem;
			right: 17.2rem;
			width: 18.2rem;
			height: 18.2rem;
			background: rgba($killarney, 0.2);
			z-index: -1;

			@include media("<tablet") {
				width: 11.2rem;
				height: 11.2rem;
				right: 14.2rem;
				bottom: 2.5rem;
			}
		}

		img {
			@include media("<tablet") {
				width: 100%;
				height: auto;
			}
		}
	}
}
