.section-fourth {
	position: relative;
	padding-bottom: 6rem;
	background: linear-gradient(180deg, $harp 6.02%, $hint-of-green 72.25%);

	.container {
		position: relative;
		z-index: 1;
	}

	h2 {
		margin-bottom: 2.3rem;
	}

	.content-holder {
		padding-top: 5.6rem;
	}

	.text-holder {
		font-size: 2.4rem;
		line-height: 1.33;
		opacity: 0.7;
	}

	.row {
		display: flex;
		justify-content: space-between;
	}

	.btn-holder {
		margin-top: 4.3rem;
	}

	.img-holder {
		position: relative;
		top: -11.6rem;
		margin-right: 1rem;
	}
}
