.accordion {
	.accordion-item {
		margin-bottom: 1.4rem;
		border-radius: 0.5rem;
		border: solid 0.2rem $catskill-white;

		.accordion-button {
			padding: 2.3rem 4.5rem 2.3rem 6.7rem;
			font-weight: 400;
			font-size: 2.2rem;
			color: $mine-shaft;
			background: $catskill-white;

			@include media-breakpoint-down(md) {
				font-size: 1.8rem;
				padding: 1.3rem 3rem 1.3rem 4.7rem;
			}

			&:not(.collapsed) {
				background: $catskill-white;
				box-shadow: none;

				&::after {
					transform: translateY(-50%) rotate(-180deg);
				}
			}

			&:focus {
				box-shadow: none;
			}

			&::after {
				position: absolute;
				top: 50%;
				right: 2rem;
				transform: translateY(-50%);
				width: 1.8rem;
				height: 1rem;
				background: url(#{$images}icon-3.svg);
				background-size: 1.8rem;
				background-position: center;
				background-repeat: no-repeat;

				@include media-breakpoint-down(md) {
					right: 1.3rem;
					width: 1.3rem;
					background-size: 1.3rem;
				}
			}

			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 2rem;
				transform: translateY(-50%);
				width: 3.8rem;
				height: 100%;
				background: url(#{$images}icon-2.svg);
				background-size: 3.8rem;
				background-position: center;
				background-repeat: no-repeat;

				@include media-breakpoint-down(md) {
					left: 1.3rem;
					width: 2.8rem;
					background-size: 2.8rem;
				}
			}
		}

		.accordion-body {
			padding: 2.5rem;
			font-weight: 300;
			font-size: 1.6rem;

			@include media-breakpoint-down(md) {
				padding: 1.5rem;
			}

			p {
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
