/* buttons */
.btn {
	font-family: $font-family-base;
	font-family: 500;
	white-space: normal;
	padding: 1rem 3.3rem;
	font-size: 1.8rem;

	&:hover {
		text-decoration: none;
	}

	&.btn-primary {
		background: $sandy-brown;
		border: none;

		&:focus {
			box-shadow: none;
			background: darken($sandy-brown, 20);
		}

		&:hover {
			background: darken($sandy-brown, 10);
		}
	}
}
