/* header */
#header {
	position: sticky;
	padding: 0.1rem 0;
	background: $white;
	box-shadow: 0 0.2rem 0.4rem 0 rgba($black, 0.05);
	z-index: 100;

	@include media-breakpoint-up(xl) {
		padding: 0.1rem 1.3rem 0.1rem 1.3rem;
	}

	@include media-breakpoint-up(xxl) {
		padding: 0.1rem 4.7rem 0.1rem 1.3rem;
	}

	.container-fluid {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	ul {
		list-style: none;
	}

	.main-nav {
		display: flex;
		align-items: center;
		transition: $transition;

		@include media-breakpoint-down(xxl) {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			flex-direction: column;
			justify-content: center;
			background: $white;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
		}

		.menu-opened & {
			@include media-breakpoint-down(xxl) {
				opacity: 1;
				pointer-events: all;
				visibility: visible;
				transition: $transition;
			}
		}
	}

	.main-menu {
		margin: 0;
		padding: 0;
		font-weight: 500;
		text-transform: uppercase;

		@include media-breakpoint-up(xxl) {
			display: flex;
			font-size: 1.4rem;
		}

		@include media-breakpoint-down(xxl) {
			text-align: center;
		}

		li {
			&:not(:last-child) {
				@include media-breakpoint-up(xxl) {
					margin-right: 6.3rem;
				}
			}

			a {
				display: inline-flex;
				padding: 1rem 0;
				text-decoration: none;
			}
		}
	}

	.has-dropdown {
		position: relative;
		display: flex;
		align-items: center;
		cursor: pointer;

		@include media-breakpoint-down(xxl) {
			justify-content: center;
			flex-wrap: wrap;
		}

		&:hover {
			.dropdown-block {
				@include media-breakpoint-up(xxl) {
					transition: $transition;
					opacity: 1;
					visibility: visible;
					pointer-events: all;
				}
			}

			.icon-arrow {
				@include media-breakpoint-up(xxl) {
					transform: rotate(180deg);
					transition: $transition;
				}
			}
		}

		.icon-arrow {
			display: block;
			width: 1.5rem;
			height: 1.5rem;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z'/%3E%3C/svg%3E");
			background-position: center;
			background-size: 1.5rem;
			transition: $transition;
		}

		.dropdown-block {
			padding: 0;
			background: $white;
			box-shadow: 0 0.2rem 0.4rem 0 rgba($black, 0.1);
			white-space: nowrap;
			transition: $transition;

			@include media-breakpoint-up(xxl) {
				position: absolute;
				top: 100%;
				left: 0;
				opacity: 0;
				visibility: hidden;
				pointer-events: none;
			}

			@include media-breakpoint-down(xxl) {
				width: 100%;
				max-height: 0;
				overflow: hidden;
			}

			ul {
				padding: 0;

				li {
					margin-right: 0;
				}

				a {
					padding-left: 1rem;
					padding-right: 1rem;
				}
			}
		}
	}

	.lang-choose {
		padding: 0;
		margin: 2rem 0;
		background: $alabaster;
		border: solid 0.1rem $alto;
		border-radius: 0.3rem;

		@include media-breakpoint-up(xxl) {
			margin: 0 2.9rem 0 6.4rem;
		}

		.icon-arrow {
			background-size: 2rem;
			margin-left: 0.5rem;
			margin-right: 0.8rem;
		}

		li {
			a {
				display: flex;
				justify-content: center;
				padding: 0.9rem 0 0.9rem 0.8rem;
			}
		}

		.dropdown-block {
			width: 100%;

			li {
				&:hover {
					background: $alto;
				}
			}
		}
	}

	.btn-primary {
		min-width: 21.1rem;
	}
}

.open-menu {
	position: relative;
	width: 3rem;
	height: 3rem;
	border: 0.3rem solid transparent;
	display: block;
	font-size: 0;
	line-height: 0;

	span {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		border-bottom: 0.1rem solid $mine-shaft;
		height: 0;
		transition: $transition;

		@for $i from 1 through 3 {
			&:nth-child(#{$i}) {
				@if ($i == 1) {
					margin-top: -1rem;
				}
				@if ($i == 3) {
					margin-top: 1rem;
				}
			}
		}

		.menu-opened & {
			@for $i from 1 through 3 {
				&:nth-child(#{$i}) {
					@if ($i == 1) {
						margin-top: 0;
						transform: rotate(45deg);
					}
					@if ($i == 2) {
						opacity: 0;
					}
					@if ($i == 3) {
						margin-top: 0;
						transform: rotate(-45deg);
					}
				}
			}
		}
	}
}
