.section-intro {
	position: relative;
	padding-top: 2.6rem;
	padding-bottom: 9.5rem;
	background: $aqua-haze;

	.container {
		position: relative;
		z-index: 2;
	}

	.text-holder {
		font-size: 2rem;
		letter-spacing: 0.06rem;
		line-height: 1.25;

		@include media-breakpoint-down(lg) {
			text-align: center;
		}
	}

	.btn {
		margin-top: 2.5rem;
	}

	.img-holder {
		@include media-breakpoint-up(dxxl) {
			margin-left: -5.6rem;
			width: 88.8rem;
			margin-right: -29rem;
		}

		@include media-breakpoint-down(lg) {
			margin-bottom: 2rem;
		}

		img {
			width: 100%;
			height: auto;
		}
	}

	.decoration {
		position: absolute;
		left: 0;
		bottom: 0;

		img {
			width: 100%;
			height: auto;
		}
	}
}
