.text-section {
	padding-top: 2.3rem;
	padding-bottom: 9rem;
	text-align: center;
	background: $white;
	background: linear-gradient(0deg, rgba($white, 1) 0%, rgba($polar, 1) 100%);

	.text-holder {
		font-family: $museo-sans-cyrl;
		font-weight: 300;
		font-size: 1.6rem;
		line-height: 1.3;
		color: $mine-shaft3;
		letter-spacing: 0.09rem;

		p {
			margin-bottom: 1.8rem;
		}
	}

	.btn-holder {
		margin-top: 2.7rem;

		.btn {
			min-width: 20rem;
		}
	}
}
