// vars
$images: "../images/";
$fonts: "../fonts/";

// fonts
$font-first: "Montserrat", serif;

// $grid-breakpoints: (
//   xs: 0,
//   sm: 575px,
//   md: 768px,
//   lg: 992px,
//   xl: 1280px,
//   xxl: 1440px,
//   xxxl: 1820px
// );

// breakpoints
$breakpoints: (
  xs: 0,
  sm: 575px,
  md: 768px,
  lg: 992px,
  xl: 1280px,
  xxl: 1440px
);

// color vars
$color-primary: #bd0000;

// base vars
$body-bg: #000000;
$body-color: #ffffff;
$font-family-base: $font-first;
$font-size-base: 1.4rem;
$font-weight-base: 400;
$line-height-base: 1;
$links-color-base: $color-primary;
$transition: all 0.3s ease;
