.informer-buy-game {
	margin-bottom: 2.5rem;

	.swiper-slide {
		figure {
			margin-bottom: 0;
		}

		img {
			width: 100%;
			height: auto;
		}

		a {
			&:hover {
				filter: brightness(1.2);
			}
		}
	}

	.swiper-buttons {
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
	}

	&.new-mods {
		margin-bottom: 1.5rem;
		border-bottom: 0.1rem solid #202020;

		h3 {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			-webkit-line-clamp: 1;
		}
	}
}
