.search-form {
	display: flex;
	width: 100%;

	.form-control,
	.search-field {
		width: 100%;
		padding: 0.5rem 1rem;
		color: $cloudy;
		background: darken($tuatara, 50);
		border: solid 0.1rem $tuatara;
		border-right: none;
		outline: none;

		&::placeholder {
			color: $cloudy;
		}

		&:focus {
			box-shadow: none;
		}
	}

	.search-submit {
		white-space: normal;
		padding: 0.5rem 1rem;
		color: $cloudy;
		background: $black;
		border: solid 0.1rem $tuatara;

		&:hover {
			color: $cloudy;
		}
	}
}
