.tags-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.3rem;
  line-height: 1.1;

  .list-item {
    margin-bottom: 1rem;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  a {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: #b9b9b9;
    background: #393939;
    border-radius: 0.5rem;

    &:hover {
      color: lighten(#9d9d9d, 10);
      background: lighten(#202020, 5);
    }
  }
}
