/* header */
.header {
	background: $blue;
}

.main-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.left-side {
		@include media(">tablet") {
			width: 50%;
		}
	}

	.right-side {
		@include media(">tablet") {
			display: flex;
			justify-content: flex-end;
			width: 50%;
		}
	}

	.profile {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		color: $white;

		a {
			display: block;
			padding: 1rem;
			text-decoration: none;
		}
	}

	.main-menu {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		color: $white;
		transition: $transition;

		@include media(">desktop") {
			width: 70%;
			justify-content: space-between;
		}

		@include media("<tablet") {
			position: fixed;
			top: 4.2rem;
			padding-top: 4rem;
			left: 0;
			width: 100%;
			height: calc(100% - 4.2rem);
			flex-direction: column;
			align-items: center;
			background: $blue;
			opacity: 0;
			pointer-events: none;
			visibility: hidden;
			border-top: 0.1rem solid rgba($white, 0.08);
			z-index: 100;
			overflow: auto;
		}

		.mobile-menu-opened & {
			@include media("<tablet") {
				opacity: 1;
				visibility: visible;
				pointer-events: all;
				transition: $transition;
			}
		}

		li {
			&:hover {
				.menu-link {
					@include media(">tablet") {
						background: rgba($black, 0.1);
					}
				}
			}
		}

		.menu-link {
			display: block;
			padding: 1rem 1.5rem 1rem 1rem;
			text-decoration: none;
		}

		.has-dropdown {
			position: relative;

			@include media("<tablet") {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
			}

			.dropdown-arrow {
				display: block;
				width: 1.5rem;
				height: 1.5rem;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23ffffff'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z'/%3E%3C/svg%3E");
				background-size: 1.5rem;
				transition: $transition;
				cursor: pointer;

				@include media(">tablet") {
					position: absolute;
					top: 50%;
					transform: translateY(-50%) rotate(90deg);
					right: 0;
				}

				@include media("<tablet") {
					width: 3rem;
					height: 3rem;
					right: -2rem;
					background-size: 2rem;
					background-position: center;
					transform: rotate(90deg);
				}
			}

			&.open {
				.dropdown-arrow {
					@include media("<tablet") {
						transform: rotate(-90deg);
						transition: $transition;
					}
				}

				.dropdown {
					@include media("<tablet") {
						display: block;
						overflow: visible;
						opacity: 1;
						visibility: visible;
						pointer-events: all;
						transition: $transition;
					}
				}
			}

			&:hover {
				.dropdown {
					@include media(">tablet") {
						opacity: 1;
						visibility: visible;
						pointer-events: all;
						transition: $transition;
					}
				}

				.dropdown-arrow {
					@include media(">tablet") {
						transform: translateY(-50%) rotate(-90deg);
						transition: $transition;
					}
				}
			}

			.dropdown {
				color: $black;
				background: $white;
				box-shadow: 0 0.125rem 0.125rem -0.125rem rgba($black, 0.08), 0 0.25rem 0.75rem rgba($black, 0.08);
				opacity: 0;
				visibility: hidden;
				pointer-events: none;
				transition: $transition;

				@include media("<tablet") {
					width: 100%;
					display: none;
				}

				@include media(">tablet") {
					position: absolute;
					top: 100%;
					left: 0;
				}

				a {
					display: block;
					padding: 1rem 3.5rem 1rem 1rem;
					white-space: nowrap;
					text-decoration: none;
				}

				ul {
					padding: 0;
					margin: 0;
					list-style: none;
				}
			}
		}

		.has-sub-dropdown {
			position: relative;

			&:not(:first-child) {
				@include media("<tablet") {
					border-top: solid 0.1rem rgba($black, 0.08);
				}
			}

			@include media("<tablet") {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
			}

			a {
				@include media("<tablet") {
					flex: 1;
				}
			}

			.icon-plus {
				display: block;
				width: 1.5rem;
				height: 1.5rem;
				background: url(#{$images}plus.svg);
				background-size: 1.5rem;
				transition: $transition;
				cursor: pointer;

				@include media("<tablet") {
					width: 3rem;
					height: 3rem;
					background-size: 1.5rem;
					background-position: center;
					background-repeat: no-repeat;
				}

				@include media(">tablet") {
					position: absolute;
					top: 50%;
					right: 1rem;
					transform: translateY(-50%);
				}
			}

			&:hover {
				.sub-dropdown {
					@include media(">tablet") {
						opacity: 1;
						visibility: visible;
						pointer-events: all;
						transition: $transition;
					}
				}

				.icon-plus {
					@include media(">tablet") {
						background: url(#{$images}minus.svg);
						background-size: 1.5rem;
					}
				}

				a {
					@include media(">tablet") {
						background: rgba($black, 0.08);
					}
				}
			}

			&.open {
				.sub-dropdown {
					@include media("<tablet") {
						opacity: 1;
						visibility: visible;
						pointer-events: all;
						transition: $transition;
						max-height: 100%;
						padding: 2rem;
					}
				}

				.icon-plus {
					@include media("<tablet") {
						background: url(#{$images}minus.svg);
						background-size: 1.5rem;
						background-position: center;
						background-repeat: no-repeat;
					}
				}
			}

			.sub-dropdown {
				padding: 2rem;
				background: $white;
				box-shadow: 0 0.125rem 0.125rem -0.125rem rgba($black, 0.08), 0 0.25rem 0.75rem rgba($black, 0.08);
				opacity: 0;
				visibility: hidden;
				pointer-events: none;
				transition: $transition;

				@include media("<tablet") {
					padding: 0 2rem;
					max-height: 0;
					overflow: hidden;
				}

				p {
					margin: 0 0 1rem 0;
				}

				@include media(">tablet") {
					position: absolute;
					top: 0;
					left: 100%;
					min-width: 20rem;
				}
			}
		}

		.list {
			@include media(">tablet") {
				min-width: 20rem;
			}

			li {
				position: relative;
				padding-left: 1.5rem;

				&::before {
					content: "";
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
					width: 1.5rem;
					height: 1.5rem;
					background: url(#{$images}arrow-right.svg);
					background-size: 1.5rem;
				}
			}
		}
	}
}

.open-close-menu {
	position: relative;
	width: 3rem;
	height: 3rem;
	border: 0.3rem solid transparent;
	display: block;
	font-size: 0;
	line-height: 0;
	z-index: 100;

	@include media(">tablet") {
		display: none;
	}

	span {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		border-bottom: 0.1rem solid;
		height: 0;
		color: $white;
		transition: $transition;

		@for $i from 1 through 3 {
			&:nth-child(#{$i}) {
				@if ($i == 1) {
					margin-top: -0.7rem;
				}
				@if ($i == 3) {
					margin-top: 0.7rem;
				}
			}
		}

		.mobile-menu-opened & {
			@for $i from 1 through 3 {
				&:nth-child(#{$i}) {
					@if ($i == 1) {
						margin-top: 0;
						transform: rotate(45deg);
					}
					@if ($i == 2) {
						opacity: 0;
					}
					@if ($i == 3) {
						margin-top: 0;
						transform: rotate(-45deg);
					}
				}
			}
		}
	}
}
