// vars
$images: "../images/";

// fonts
$open-sans: "Open Sans", sans-serif;

// breakpoints
$breakpoints: (
	phone: 374px,
	tablet: 767px,
	desktop: 991px,
	lgdesktop: 1199px
);

// colors
$white: #fff;
$black: #000;
$blue: #034da1;

// base vars
$text-color-base: $black;
$body-bg: $white;
$font-family-base: $open-sans;
$font-size-base: 1.6rem;
$font-weight-base: 400;
$line-height-base: 1.42857143;
$links-color-base: inherit;
$headings-font-weight: 400;
$transition: all 0.3s ease;

// dev2
// dev3
// dev4
