@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Nunito", sans-serif;
	font-size: 14px;
	line-height: 1.45;
	color: black;
}

a {
	color: inherit;
}

.container {
	max-width: 1000px;
	width: 100%;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.p-inputtext {
	width: 100%;
}
