.header {
	padding-top: 1rem;
	padding-bottom: 1rem;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.logo {
		display: flex;
		width: 30px;
		height: 30px;
		background: #ff6900;
		border-radius: 10px;
		overflow: hidden;

		img {
			margin-left: -30px;
		}
	}

	.lang-holder {
		display: flex;
		align-items: center;
		font-size: 12px;
		text-transform: uppercase;

		span {
			margin-left: 5px;
		}
	}
}
