.resume-page {
    width: 100%;
    max-width: 970px;

    .resume {
        display: flex;
        height: 100vh;
    }

    .aside {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 40%;
        padding: 40px;
        color: white;
        text-align: right;
        background: #3f626b;

        .avatar-holder {
            width: 150px;
            height: 150px;
            margin-bottom: 50px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 30%;
                border-radius: 50%;
            }
        }

        .h1 {
            margin-bottom: 3px;
            font-size: 30px;
            text-transform: uppercase;
            line-height: 1.1;
        }

        .positon {
            display: block;
            margin-bottom: 30px;
            font-weight: 600;
        }

        .list-wrapper {
            margin-bottom: 30px;

            .h3 {
                margin-bottom: 5px;
                font-weight: 600;
                font-size: 16px;
            }

            .text-holder {
                line-height: 1.5;

                p {
                    margin-bottom: 0;
                }
            }
        }

        .list {
            margin: 0;
            padding: 0;
            list-style: none;

            .list-item {
                &:not(:last-child) {
                    margin-bottom: 5px;
                }
            }
        }

        a {
            color: white;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .main {
        width: 60%;
        padding: 30px;
        color: #737373;
        background: white;

        .info-block {
            margin-bottom: 30px;

            .block-title {
                margin-bottom: 15px;
                font-weight: 600;
                font-size: 16px;
                text-transform: uppercase;
            }

            .sub-title {
                margin-bottom: 5px;
                font-weight: 600;
                color: #3f626b;
                font-size: 15px;
            }

            .list {
                margin: 0 0 20px 0;
                padding: 0;
                list-style: none;

                .list-item {
                    &:not(:last-child) {
                        margin-bottom: 5px;
                    }
                }
            }
        }

        .job-block {
            margin-bottom: 20px;

            .job-position {
                margin-bottom: 3px;
                font-weight: 600;
                color: #3f626b;
                text-transform: uppercase;
            }

            .job-company {
                display: block;
                margin-bottom: 4px;
                text-transform: uppercase;
                text-decoration: underline;
            }

            .job-dates {
                font-style: italic;
                text-transform: uppercase;
                font-size: 14px;
            }

            .text-holder {
                line-height: 1.5;

                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}
