.modal-block {
	&.subscribe-telegram {
		max-width: 50rem;

		.img-holder {
			margin-bottom: 2rem;

			img {
				width: 100%;
				height: auto;
				border-radius: 1rem;
			}
		}

		.text-holder {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 2rem;
			text-align: center;
		}

		.telegram-link {
			display: inline-flex;
			margin-left: 0.2rem;
			align-items: center;
			text-decoration: none;

			&:hover {
				opacity: 0.8;
			}

			img {
				width: 2rem;
				margin-right: 0.5rem;
			}
		}

		.btn-holder {
			display: flex;
			justify-content: center;
		}
	}
}
