.section-gallery {
	padding-bottom: 10rem;

	@include media-breakpoint-down(md) {
		padding-bottom: 5rem;
	}

	.img-holder {
		margin-bottom: 10rem;

		@include media-breakpoint-down(md) {
			margin-bottom: 5rem;
		}
	}

	img {
		width: 100%;
		height: auto;
	}
}
