.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 8rem;
  display: flex;
  align-items: center;
  z-index: 99;
  background-color: #fff;
  transition: $transition;

  @include media-breakpoint-up(xxxl) {
    min-height: 13rem;
  }

  @include media-breakpoint-down(xl) {
    min-height: 6rem;
  }

  &.scrolled {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.02);
  }

  .left-side {
    z-index: 100;
  }

  .logo-holder {
    max-width: 14rem;
    margin-right: 4rem;

    @include media-breakpoint-up(xxxl) {
      max-width: 17rem;
      margin-right: 9.4rem;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .container {
    @include media-breakpoint-up(xxxl) {
      max-width: 179rem;
    }
  }

  .main-nav {
    margin-left: 4.1rem;
    font-size: 1.3rem;
    text-transform: uppercase;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        position: relative;

        span {
          display: flex;
          align-items: center;
          transition: $transition;

          i {
            display: block;
            margin-top: -0.2rem;
            margin-left: 1rem;
            transform: rotate(-45deg);
            width: 0.6rem;
            height: 0.6rem;
            border-left: 0.1rem solid;
            border-bottom: 0.1rem solid;
          }
        }
      }
    }

    > ul {
      display: flex;

      li {
        margin-left: 1.5rem;
        margin-right: 1.5rem;

        @include media-breakpoint-up(xxxl) {
          margin-left: 3.2rem;
          margin-right: 3.2rem;
        }
      }
    }

    a {
      text-decoration: none;

      &:hover {
        color: $color-primary;
      }
    }

    .has-children {
      cursor: pointer;

      ul {
        position: absolute;
        top: 100%;
        left: -2rem;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.02);
        padding: 3rem 2rem;
        width: 26rem;
        pointer-events: none;
        transition: 0.5s;
        clip-path: inset(0 0 100% 0);

        &::after {
          content: "";
          position: absolute;
          top: 1rem;
          left: 0;
          right: 0;
          height: 100%;
          background-color: #f8f8f8;
          pointer-events: none;
          z-index: -1;
        }

        li {
          margin-left: 0;
          margin-right: 0;

          &:not(:last-child) {
            margin-bottom: 1.5rem;
          }
        }
      }

      &:hover {
        > span {
          color: $color-primary;
        }

        > ul {
          clip-path: inset(0 0 0 0);
          pointer-events: all;
        }
      }
    }
  }

  .left-side {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(xl) {
      width: 100%;
    }
  }

  .right-side {
    align-items: center;
  }

  .link-tel {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.6rem;
    text-decoration: none;
    color: inherit;

    @include media-breakpoint-up(lg) {
      margin-right: 3rem;
    }

    @include media-breakpoint-down(sm) {
      font-size: 0;
    }

    svg {
      @include media-breakpoint-up(sm) {
        margin-right: 1rem;
      }
    }

    &:hover {
      color: $color-primary;
    }
  }

  .btn-menu-toggle {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    @include media-breakpoint-down(xl) {
      margin-left: auto;
      margin-right: 3rem;
    }

    &:hover {
      color: $color-primary;
    }

    .menu-opened & {
      color: white;

      &:hover {
        color: $color-primary;
      }
    }

    .btn-title-open {
      .menu-opened & {
        display: none;
      }
    }

    .btn-title-close {
      display: none;

      .menu-opened & {
        display: block;
      }
    }

    .btn-lines {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 2.4rem;
      height: 1.4rem;
      margin-right: 2.3rem;

      @include media-breakpoint-down(xl) {
        margin-right: 1rem;
      }

      span {
        width: 100%;
        background-color: currentColor;
        position: absolute;
        border-bottom: solid 0.2rem;
        transition: width 0.3s, transform 0.3s;

        &:nth-child(1) {
          left: 0;
          top: 0;
          width: 50%;

          .menu-opened & {
            width: 100%;
            transform: rotate(-45deg);
            top: 6px;
          }
        }

        &:nth-child(2) {
          top: 50%;
          margin-top: -0.1rem;

          .menu-opened & {
            opacity: 0;
            visibility: hidden;
          }
        }

        &:nth-child(3) {
          right: 0;
          bottom: 0;
          width: 50%;

          .menu-opened & {
            width: 100%;
            transform: rotate(45deg);
            bottom: 6px;
          }
        }
      }
    }

    &:hover {
      .btn-lines {
        span {
          &:nth-child(1),
          &:nth-child(3) {
            width: 100%;
          }
        }
      }
    }
  }

  .open-popup {
    @include media-breakpoint-down(xxl) {
      order: 2;
    }
  }

  .menu-fullscreen {
    position: fixed;
    inset: 0;
    background: #252525;
    transform: translateY(-100%);
    z-index: 100;

    .menu-overflow {
      height: 100%;
      overflow: auto;

      > .container {
        height: 100%;

        > .row {
          height: 100%;
        }
      }
    }

    .block-contact,
    .block-brief {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 3rem;
      color: #959595;
      text-align: center;
      background: #181818;

      @include media-breakpoint-up(lg) {
        position: absolute;
        right: 0;
        top: 0;
        width: 33%;
        height: 50vh;
      }

      @include media-breakpoint-down(lg) {
        width: 50%;
        min-height: 30rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
      }

      @include media-breakpoint-down(sm) {
        width: 100%;
        min-height: 20rem;
      }
    }

    .block-contact {
      .block-title {
        letter-spacing: 0.05em;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1;
        text-transform: lowercase;
        margin-bottom: 15px;
      }

      a {
        color: white;
        text-decoration: none;

        &:hover {
          color: $color-primary;
        }

        + span {
          margin-top: 2rem;
        }
      }
    }

    .block-brief {
      font-size: 2rem;
      font-weight: 300;
      background: #202020;

      @include media-breakpoint-up(lg) {
        top: 50vh;
      }

      p {
        margin-bottom: 2rem;
      }
    }

    .menu-social {
      margin: auto 0 0 0;
      padding: 0 0 2rem 0;
      list-style: none;
      display: flex;
      font-size: 1.6rem;
      color: white;

      @include media-breakpoint-down(lg) {
        margin-top: 3rem;
        margin-bottom: auto;
        font-size: 0;
        justify-content: center;
      }

      li {
        display: flex;

        &:not(:last-child) {
          margin-right: 6rem;
        }

        &:nth-child(1) {
          a {
            &:hover {
              color: #a4285e;

              svg {
                fill: #a4285e;
              }
            }
          }
        }

        &:nth-child(2) {
          a {
            &:hover {
              color: #0067ff;

              svg {
                fill: #0067ff;
              }
            }
          }
        }

        &:nth-child(3) {
          a {
            &:hover {
              color: #3b5998;

              svg {
                fill: #3b5998;
              }
            }
          }
        }

        &:nth-child(4) {
          position: relative;

          svg {
            &:last-child {
              position: absolute;
              top: 0.2rem;
              left: 0;
              opacity: 0;
              transition: opacity 0.3s;

              @include media-breakpoint-down(lg) {
                top: 0;
              }
            }
          }

          a {
            &:hover {
              color: white;

              svg {
                &:last-child {
                  opacity: 1;
                }
              }
            }
          }
        }
      }

      a {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
      }

      svg {
        width: 1.8rem;
        height: 1.8rem;
        fill: white;
        margin-right: 1.5rem;
        transition: fill 0.3s;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .menu-fullscreen-primary {
      color: white;

      ul {
        @include media-breakpoint-down(lg) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      @include media-breakpoint-down(lg) {
        margin-bottom: 2rem;
      }

      li {
        font-size: 3.5rem;

        @include media-breakpoint-down(lg) {
          font-size: 1.8rem;
        }

        &:not(:last-child) {
          margin-bottom: 4rem;

          @include media-breakpoint-down(lg) {
            margin-bottom: 2rem;
          }
        }
      }

      a {
        text-decoration: none;

        &:hover {
          color: $color-primary;
        }
      }

      .sub-menu-arr {
        display: inline-block;
        transition: transform 0.3s;

        @include media-breakpoint-down(lg) {
          position: absolute;
          top: 0;
          right: 0;
          width: 2.4rem;
          height: 2.4rem;
          transform: translateX(100%);
        }
      }

      .has-submenu {
        @include media-breakpoint-down(lg) {
          position: relative;
        }

        &.active {
          .sub-menu {
            @include media-breakpoint-up(lg) {
              opacity: 1;
              visibility: visible;
              backface-visibility: visible;
              pointer-events: all;
            }

            @include media-breakpoint-down(lg) {
              display: block;
              margin-top: 2rem;
            }
          }

          .sub-menu-arr {
            @include media-breakpoint-down(lg) {
              transform: translateX(100%) rotate(180deg);
            }
          }
        }
      }

      .sub-menu {
        background-color: #252525;
        transition: $transition;

        @include media-breakpoint-up(lg) {
          position: absolute;
          left: 0;
          top: 0;
          top: 50%;
          width: 100%;
          opacity: 0;
          visibility: hidden;
          backface-visibility: hidden;
          pointer-events: none;
          z-index: 999;
          transform: translateY(-50%);
        }

        @include media-breakpoint-down(lg) {
          display: none;
        }

        ul {
          @include media-breakpoint-up(lg) {
            column-count: 2;
          }
        }
      }

      .sub-menu-close {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5.6rem;
        height: 5.6rem;
        margin-bottom: 1rem;
        border: 0.1rem solid #cbcbcb;
        border-radius: 50%;

        @include media-breakpoint-down(lg) {
          display: none;
        }

        svg {
          transform: scale(-1);
          fill: #cbcbcb;
        }

        &:hover {
          background: $color-primary;
          border-color: $color-primary;

          svg {
            fill: white;
          }
        }
      }

      .has-submenu-link {
        position: relative;
        cursor: pointer;
        transition: $transition;

        &:hover {
          color: $color-primary;
        }
      }
    }
  }

  .menu-fullscreen-top {
    min-height: 8rem;

    @include media-breakpoint-up(xxxl) {
      min-height: 13rem;
    }

    @include media-breakpoint-down(xl) {
      min-height: 6rem;
    }

    .btn-menu-toggle {
      @include media-breakpoint-down(lg) {
        margin-right: 0;
      }
    }
  }

  .menu-fullscreen-right {
    @include media-breakpoint-down(lg) {
      display: flex;
      margin-left: -$grid-gutter-width * 0.5;
      margin-right: -$grid-gutter-width * 0.5;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    .btn-outline-secondary {
      @include media-breakpoint-down(lg) {
        color: #232323;
        background: white;
      }
    }
  }

  .menu-fullscreen-middle {
    @include media-breakpoint-down(lg) {
      text-align: center;
    }
  }

  .lang {
    position: relative;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: white;

    @include media-breakpoint-down(lg) {
      top: 4.5rem;
    }

    a {
      text-decoration: none;

      &:not(:last-child) {
        margin-right: 1.5rem;
      }

      &.current {
        color: $color-primary;
      }
    }
  }

  .btn-before-menu {
    @include media-breakpoint-down(lg) {
      margin-top: 4rem;
      margin-bottom: 3rem;
    }
  }
}
