body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	height: 100vh;
}

p {
	margin: 0;
}

h2 {
	margin: 0 0 10px 0;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s;
}

.modal-open {
	overflow: hidden;
}

.modal-open .overlay {
	opacity: 1;
	pointer-events: all;
	transition: all 0.3s;
}

.modal {
	position: absolute;
	/* display: none; */
	padding: 20px;
	max-width: 500px;
	background: white;
	border-radius: 5px;
	opacity: 0;
	transition: all 0.4s;
	pointer-events: none;
}

.modal.open {
	/* display: block; */
	position: relative;
	opacity: 1;
	transition: all 0.4s;
	pointer-events: all;
}

.close-modal {
	position: absolute;
	top: -15px;
	right: -15px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25px;
	height: 25px;
	text-decoration: none;
	font-size: 10px;
	color: white;
	background: black;
	border-radius: 50%;
}

/* .from-bottom {
	transition: all 0.4s;
}


@keyframes frombottom {
	from {
		transform: translateY(100%);
	}

}

.from-bottom.open {
	animation: frombottom 0.4s forwards;
	transition: all 0.4s;
} */
