@use "sass:math";

@mixin grid-gutter($gutter-width) {
	margin-left: math.div(-$gutter-width, 2);
	margin-right: math.div(-$gutter-width, 2);

	> [class^="col"] {
		padding-left: calc($gutter-width / 2);
		padding-right: calc($gutter-width / 2);
	}
}
