// for modals, for all browsers, except safari
// html,
// body {
// 	scrollbar-gutter: stable;
// }

html {
	font-size: 10px;
}

body {
	margin: 0;
	min-width: 320px;
	background: $body-bg;
	color: $text-color-base;
	font-family: $font-family-base;
	font-weight: $font-weight-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	letter-spacing: 0.04rem;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	flex-direction: column;

	&.menu-opened {
		@include media-breakpoint-down(lg) {
			position: fixed;
			width: 100%;
			overflow-y: scroll;
		}
	}
}

a {
	text-decoration: none;
	color: $links-color-base;
	transition: $transition;
}

a:hover {
	color: $links-color-base;
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

button,
input[type="search"],
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: none;
	cursor: pointer;
	transition: $transition;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
	border: none;
	padding: 0;
}

.wrapper {
	min-height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100);
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1;
}

.container {
	max-width: 134.2rem;
	padding-left: 3rem;
	padding-right: 3rem;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: $oswald;
	font-weight: 500;
	text-transform: uppercase;
}
