*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
	margin-top: 0;
}

.container {
	max-width: 1350px;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;

	.col {
		padding-left: 10px;
		padding-right: 10px;
	}

	.col-4 {
		flex: 0 0 auto;
		width: 33.33333333%;
	}
}
