/* footer */
#footer {
	padding-top: 5rem;
	padding-bottom: 5rem;
	background: #f8f1f1;

	.logo {
		font-weight: 500;
		color: #e35454;
		font-size: 2rem;
		text-transform: uppercase;
	}

	h6 {
		font-weight: 400 !important;
	}
}
