// vars
$images: "../images/";
$fonts: "../fonts/";

// fonts
$main_font: "Hanken Grotesk", sans-serif;

// bootstrap grid
$grid-columns: 12;
$grid-gutter-width: 30px;
$grid-gutter-width-mobile: $grid-gutter-width;

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1340px
);

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1302px
);

// colors
$white: #fff;
$black: #000;
$gray: #707070;

// base vars
$text-color-base: #869ab8;
$body-bg: $white;
$font-family-base: $main_font;
$font-size-base: 1.5rem;
$font-weight-base: 300;
$line-height-base: 1.4;
$links-color-base: inherit;

$transition: all 0.3s ease;

// dev2
// dev3
// dev4
