.page-enter-active,
.page-leave-active,
.layout-enter-active,
.layout-leave-active {
	transition: opacity 0.5s;
}

.page-enter,
.page-leave-active,
.layout-enter,
.layout-leave-active {
	opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
	transition: $transition;
	opacity: 1;
}

.fade-enter,
.fade-leave-to {
	transition: $transition;
	opacity: 0;
}
