* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	margin: 0;
	min-width: 320px;
	background: #faf0d7;
	color: #484848;
	font: 400 1.8rem/1.6666666667 "Noto Sans", sans-serif;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

a {
	text-decoration: none;
	color: inherit;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

a:hover {
	text-decoration: underline;
}

button,
input[type=search],
input[type=button],
input[type=reset],
input[type=submit] {
	-webkit-appearance: none;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

button::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner {
	border: none;
	padding: 0;
}

.wrapper {
	min-height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

#main {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}

.container {
	width: 100%;
	max-width: 113.6rem;
	margin: auto;
	padding-left: 2rem;
	padding-right: 2rem;
}

.h3 {
	margin-top: 0;
}

p {
	margin-top: 0;
}

/* buttons */
.btn {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	border: none;
}
.btn.btn-primary {
	padding: 1.6rem 6.2rem;
	font-weight: 400;
	font-size: 18px;
	color: white;
	background: #fe4e4e;
	border-radius: 3.7rem;
}
.btn.btn-primary:hover {
	background: #fe3535;
}

/* header */
#header {
	padding: 1rem 0;
}

.open-menu {
	position: relative;
	width: 3rem;
	height: 3rem;
	border: 0.3rem solid transparent;
	display: block;
	font-size: 0;
	line-height: 0;
}
.open-menu span {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	border-bottom: 0.1rem solid;
	height: 0;
}
.open-menu span:nth-child(1) {
	margin-top: -1rem;
}
.open-menu span:nth-child(3) {
	margin-top: 1rem;
}
.menu-opened .open-menu span:nth-child(1) {
	margin-top: 0;
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	        transform: translate(-50%, -50%) rotate(45deg);
}
.menu-opened .open-menu span:nth-child(3) {
	margin-top: 0;
	-webkit-transform: translate(-50%, -50%) rotate(-45deg);
	        transform: translate(-50%, -50%) rotate(-45deg);
}

/* footer */
#footer {
	padding-top: 11.3rem;
	padding-bottom: 11.6rem;
	overflow: hidden;
}
#footer .container > .row {
	display: grid;
}
@media (min-width: 1200px) {
	#footer .container > .row {
		grid-template-columns: repeat(3, 1fr);
		grid-template-columns: 25% 25% 50%;
	}
}
@media (max-width: 1200px) {
	#footer .container > .row {
		grid-template-columns: 40% 60% 60%;
	}
}
@media (max-width: 768px) {
	#footer .container > .row {
		grid-template-columns: 100% 100% 100%;
	}
}
@media (max-width: 1200px) {
	#footer .container > .row > .col:nth-child(1) {
		grid-row-start: 3;
	}
}
@media (max-width: 1200px) {
	#footer .container > .row > .col:nth-child(2) {
		grid-row-start: 3;
	}
}
@media (max-width: 768px) {
	#footer .container > .row > .col:nth-child(2) {
		grid-row-start: unset;
	}
}
@media (max-width: 1200px) {
	#footer .container > .row > .col:nth-child(3) {
		grid-column-start: 2;
		grid-row-start: 4;
	}
}
@media (max-width: 768px) {
	#footer .container > .row > .col:nth-child(3) {
		grid-column-start: unset;
	}
}
#footer .h3 {
	margin-bottom: 1.5rem;
	font-weight: 700;
	font-size: 2rem;
	color: #435fdd;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 768px) {
	#footer .footer-groups {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}
#footer .footer-group:not(:last-child) {
	margin-bottom: 3.5rem;
}
#footer .footer-group:nth-child(1) {
	-webkit-box-ordinal-group: 3;
	    -ms-flex-order: 2;
	        order: 2;
}
#footer .footer-group:nth-child(2) {
	-webkit-box-ordinal-group: 2;
	    -ms-flex-order: 1;
	        order: 1;
}
@media (max-width: 768px) {
	#footer .footer-group:nth-child(2) {
		margin-right: 4.8rem;
	}
}
#footer .social-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
@media (min-width: 1200px) {
	#footer .social-menu {
		max-width: 23rem;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
}
@media (min-width: 1200px) {
	#footer .social-menu .menu-item {
		margin-bottom: 4.9rem;
	}
}
@media (max-width: 768px) {
	#footer .social-menu .menu-item {
		margin-bottom: 4.6rem;
	}
}
#footer .social-menu .menu-item:not(:last-child) {
	margin-right: 4.6rem;
}
#footer .social-menu .item-link {
	width: 6.4rem;
	height: 6.4rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background: #fe4e4e;
	border-radius: 50%;
}
#footer .social-menu .item-link:hover {
	opacity: 0.7;
}
#footer .social-menu .icon-holder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 3rem;
}
#footer .social-menu .icon-holder img {
	width: 100%;
	height: auto;
}
#footer .form-control {
	margin-bottom: 5.5rem;
	width: 100%;
	padding: 1.65rem 3.4rem;
	font-weight: 400;
	font-size: 1.8rem;
	color: black;
	background: #ffffff;
	border-radius: 3.7rem;
	border: none;
	outline: none;
}
@media (max-width: 768px) {
	#footer .form-control {
		margin-bottom: 4.4rem;
	}
}
#footer .form-control::-webkit-input-placeholder {
	color: rgba(72, 72, 72, 0.5);
}
#footer .form-control::-moz-placeholder {
	color: rgba(72, 72, 72, 0.5);
}
#footer .form-control:-ms-input-placeholder {
	color: rgba(72, 72, 72, 0.5);
}
#footer .form-control::-ms-input-placeholder {
	color: rgba(72, 72, 72, 0.5);
}
#footer .form-control::placeholder {
	color: rgba(72, 72, 72, 0.5);
}
#footer .form-control:focus {
	background: rgba(255, 255, 255, 0.8);
}
#footer .footer-form .row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-left: -2.25rem;
	margin-right: -2.25rem;
}
@media (max-width: 768px) {
	#footer .footer-form .row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}
#footer .footer-form .row .col {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	width: 50%;
	max-width: 100%;
	padding-left: 2.25rem;
	padding-right: 2.25rem;
}
@media (max-width: 768px) {
	#footer .footer-form .row .col {
		width: 100%;
	}
}
@media (max-width: 768px) {
	#footer .footer-form .row .col:nth-child(3) {
		-webkit-box-ordinal-group: 4;
		    -ms-flex-order: 3;
		        order: 3;
	}
}
@media (min-width: 768px) {
	#footer .footer-form .btn {
		width: 100%;
	}
}
#footer .footer-form .text-holder {
	font-size: 1.8rem;
	line-height: 1.5;
	color: #484848;
}
@media (max-width: 768px) {
	#footer .footer-form .text-holder {
		margin-bottom: 2.9rem;
		max-width: 22.6rem;
	}
}
#footer .footer-form .text-holder p {
	margin-bottom: 0;
}
/*# sourceMappingURL=styles.css.map */
