/* header */
.site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: solid 0.1rem rgba(white, 0.2);
  z-index: 99;

  .container {
    display: flex;
    align-items: center;
  }

  .main-navigation {
    flex-grow: 1;

    @include media("<lg") {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding-top: 10.3rem;
      padding-bottom: 10.3rem;
      display: flex;
      flex-direction: column;
      font-size: 2.4rem;
      transition: 0.3s;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
    }

    .menu-opened & {
      @include media("<lg") {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        background: rgba(black, 0.7);
      }
    }

    .inner-holder {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      @include media("<lg") {
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
    }

    .menu {
      display: flex;
      list-style: none;
      margin: 0 6rem 0 0;
      padding: 0;
      font-weight: 500;
      font-size: 1.5rem;
      text-transform: uppercase;

      @include media("<lg") {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        margin-bottom: 3rem;
        font-size: 2rem;
      }

      .menu-item {
        &:not(:last-child) {
          @include media(">=lg") {
            margin-right: 3rem;
          }

          @include media("<lg") {
            margin-bottom: 2rem;
          }
        }

        a {
          position: relative;
          text-decoration: none;
          color: inherit;

          &::before {
            content: "";
            position: absolute;
            bottom: -0.3rem;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            border-bottom: solid 0.1rem;
            transition: 0.3s;
          }

          &:hover {
            @media (hover: hover) {
              &::before {
                width: 100%;
              }
            }
          }
        }
      }
    }

    .btn-primary {
      //   @include breakpoint(lg, max) {
      // 	width: 100%;
      // 	max-width: 28rem;
      // 	min-height: 5.2rem;
      //   }
    }
  }

  .open-menu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    width: 2.4rem;
    height: 2.4rem;
    display: block;
    font-size: 0;
    line-height: 0;
    z-index: 100;

    @include media(">=lg") {
      display: none;
    }

    // @include breakpoint(lg, min) {
    //   display: none;
    // }

    // @include breakpoint(md, max) {
    //   right: 2.4rem;
    // }

    span {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      background: $color-primary;
      border-radius: 0;
      height: 0.2rem;
      transition: $transition;

      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          @if ($i == 1) {
            margin-top: -1rem;
          }
          @if ($i == 2) {
            margin-top: -0.1rem;
          }
          @if ($i == 3) {
            margin-top: 0.8rem;
          }
        }
      }

      .menu-opened & {
        @for $i from 1 through 3 {
          &:nth-child(#{$i}) {
            @if ($i == 1) {
              margin-top: 0;
              transform: rotate(45deg);
            }
            @if ($i == 2) {
              opacity: 0;
              // transform: translateX(50%);
            }
            @if ($i == 3) {
              margin-top: 0;
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
  }
}
