.landing-page {
	.header-page {
		display: flex;
		justify-content: center;
		padding-top: 11.3rem;
		padding-bottom: 5.6rem;

		@include media("<md") {
			padding-top: 3.5rem;
			padding-bottom: 3.5rem;
		}

		.logo {
			max-width: 26.8rem;
			display: inline-flex;

			@include media("<md") {
				max-width: 15rem;
			}
		}
	}

	.text-holder {
		font-weight: 600;
		font-size: 7.112rem;
		line-height: 1.23;

		@include media("<xl") {
			font-size: 5.112rem;
		}

		@include media("<md") {
			font-size: 2.5112rem;
		}

		@include media("<sm") {
			font-size: 2.112rem;
		}

		p {
			margin-bottom: 0;
		}

		&.txt-center {
			text-align: center;
		}

		&.txt-1 {
			padding-top: 1.7rem;
		}

		&.txt-2 {
			max-width: 105rem;
			margin: auto auto 14.2rem;

			@include media("<md") {
				margin: auto auto 7.2rem;
			}
		}

		&.txt-3 {
			margin-bottom: 3.2rem;
		}

		&.txt-4 {
			margin-bottom: 8.2rem;

			@include media("<md") {
				margin-bottom: 4.2rem;
			}
		}
	}

	.img-block {
		display: flex;
		justify-content: center;

		.holder-1 {
			max-width: 97rem;
			margin-bottom: 1.7rem;
		}

		.holder-2 {
			max-width: 120rem;
			margin-bottom: 16rem;

			@include media("<md") {
				margin-bottom: 8rem;
			}
		}

		.holder-3 {
			max-width: 120rem;
			margin-bottom: 11rem;

			@include media("<md") {
				margin-bottom: 5.5rem;
			}
		}

		.holder-4 {
			max-width: 120rem;
			margin-bottom: 11.2rem;

			@include media("<md") {
				margin-bottom: 5.5rem;
			}
		}
	}

	img {
		width: 100%;
		height: auto;
	}

	.list-block {
		padding-left: 1rem;
		padding-right: 1rem;
		padding-bottom: 12.3rem;
		overflow: hidden;

		@include media("<md") {
			padding-bottom: 6rem;
			text-align: center;
		}

		.inner-holder {
			max-width: 77.1rem;
			margin: auto;
		}

		.row {
			@include media(">md") {
				display: flex;
				margin-left: -3.9rem;
				margin-right: -3.9rem;
			}

			.col {
				@include media(">md") {
					width: 100%;
					padding-left: 3.9rem;
					padding-right: 3.9rem;
				}
			}
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			font-size: 2.5rem;
			line-height: 1.24;

			@include media("<md") {
				font-size: 1.7rem;
			}

			li {
				position: relative;

				&:not(:last-child) {
					margin-bottom: 4.7rem;
					padding-bottom: 3.9rem;

					&::after {
						content: "";
						position: absolute;
						left: 0;
						bottom: 0;
						width: 14.2rem;
						height: 0;
						border-bottom: solid 0.1rem black;

						@include media("<md") {
							left: 50%;
							transform: translateX(-50%);
						}
					}
				}
			}
		}
	}
}
