/* buttons */
.btn {
	white-space: normal;
	padding: 0.5rem 1rem;
	color: $cloudy;
	background: $black;
	border: solid 0.1rem $tuatara;

	&:hover {
		color: $cloudy;
		text-decoration: none;
		background: lighten($black, 5);
	}

	&:focus {
		box-shadow: none;
	}
}
