.bg-img {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.meta-info {
	padding: 1.5rem 0 0 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	font-size: 1.3rem;
	color: darken($cloudy, 8);
	border-top: 0.1rem solid $tuatara;

	li {
		display: flex;
		align-items: center;
		margin-right: 3rem;
		line-height: 1;

		@include media-breakpoint-down(md) {
			margin-bottom: 1rem;
		}

		.icon-holder {
			margin-right: 0.5rem;
		}
	}
}

.informer-row-border {
	border-right: 0.1rem solid $tuatara;
}

.breadcrumb {
	margin-bottom: 2rem;

	li {
		a {
			color: $gray2;
			text-decoration: none;
		}

		&:hover {
			a {
				color: $cloudy;
			}
		}

		&.active {
			color: $cloudy;
		}
	}
}

.fancybox__container {
	z-index: 1000000;
}

.bg-site {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hide-reviews-plugin {
	#xs_review_form_public_data,
	.view-review-list {
		display: none;
	}
}

.single-page {
	color: $cloudy;
}
