.bg-img {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.meta-info {
	padding: 1.5rem 0 0 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	border-top: 0.1rem solid $tuatara;

	li {
		font-size: 1.3rem;
		color: darken($cloudy, 8);
		margin-right: 3rem;
		line-height: 1;

		@include media-breakpoint-down(md) {
			margin-bottom: 1rem;
		}

		i {
			margin-right: 0.5rem;
		}
	}
}

.informer-row-border {
	border-right: 0.1rem solid $tuatara;
}

.breadcrumb {
	margin-bottom: 2rem;

	li {
		a {
			color: $gray2;
			text-decoration: none;
		}

		&:hover {
			a {
				color: $cloudy;
			}
		}

		&.active {
			color: $cloudy;
		}
	}
}

.tooltip-hover {
	position: relative;

	&::after {
		position: absolute;
		content: attr(data-text);
		content: attr(data-text) / "";
		display: block;
		padding: 0.5rem 1rem;
		color: $gray;
		background: $cod-gray;
		border: solid 0.1rem $tuatara;
		white-space: nowrap;
		opacity: 0;
		pointer-events: none;
		visibility: hidden;
		transition: $transition;
		box-shadow: 0 1rem 0.5rem -0.5rem $black;
		z-index: 10;
	}

	&:hover {
		&::after {
			opacity: 1;
			pointer-events: all;
			visibility: visible;
			transition: $transition;
		}
	}

	&.bottom {
		&::after {
			top: 100%;
			left: 0;
			transform: translateY(-0.5rem);
		}

		&:hover {
			&::after {
				transform: translateY(0.5rem);
			}
		}
	}
}

.tags {
	display: flex;
	margin-top: 1.5rem;
	font-size: 1.3rem;

	.tags-title {
		margin-right: 0.5rem;
		color: $cloudy;
	}

	.tags-links {
		color: $gray2;

		a {
			position: relative;

			&::before {
				content: "#";
			}
		}
	}
}

.fancybox__container {
	z-index: 1000000;
}

.bg-site {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
