/* header */
#header {
	position: relative;
	z-index: 10;
	margin-bottom: 15rem;
	background: $cod-gray;
	border-bottom: solid 0.1rem $tuatara;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.logo {
		font-family: $stalker-font;
		font-size: 3.5rem;

		a {
			color: $mercury;
			text-decoration: none;
			text-shadow: 0.1rem 0.1rem 0.2rem $black;
		}
	}

	.header-top {
		padding-top: 1rem;
		padding-bottom: 1rem;

		.container-fluid {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	.user-profile {
		position: relative;

		.open-profile-dropdown {
			display: flex;
			align-items: center;
			padding: 1rem;
			background: rgba($black, 0.5);
			backdrop-filter: blur(0.5rem);
			border-radius: 0.5rem;
			cursor: pointer;

			.user-name {
				color: $cloudy;
				margin-right: 1rem;
			}
		}

		.dropdown-arrow {
			font-size: 1.1rem;
			color: $cloudy;
			transition: $transition;
		}

		.user-avatar {
			margin: 0 1rem 0 0;
			width: 3rem;

			img {
				width: 100%;
				height: auto;
				border-radius: 0.3rem;
			}
		}

		.dropdown-ul {
			position: absolute;
			top: 100%;
			right: 0;
			margin-top: 1rem;
			background: rgba($black, 0.5);
			backdrop-filter: blur(0.5rem);
			border-radius: 0.5rem;
			white-space: nowrap;
			overflow: hidden;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			transition: $transition;

			li {
				a {
					display: block;
					padding: 1rem 1.3rem;
					font-size: 1.3rem;
					color: $cloudy;
					text-decoration: none;

					i {
						width: 2rem;
						margin-right: 0.5rem;
					}
				}

				&:hover {
					a {
						background: rgba($white, 0.05);
					}
				}
			}
		}

		&.open {
			.dropdown-ul {
				opacity: 1;
				pointer-events: all;
				visibility: visible;
				transition: $transition;
			}

			.dropdown-arrow {
				transform: rotate(180deg);
				transition: $transition;
			}
		}
	}

	.main-nav {
		border-top: solid 0.1rem $tuatara;

		ul {
			display: flex;

			li {
				&:not(:last-child) {
					margin-right: 3rem;
				}

				a {
					display: inline-block;
					padding-top: 1rem;
					padding-bottom: 1rem;
					font-family: $graffiti1CTT;
					font-size: 1.8rem;
					color: $silver;
					text-decoration: none;

					&:hover {
						text-shadow: 0 0.1rem 1rem $silver;
					}
				}
			}
		}
	}
}

.open-menu {
	position: relative;
	width: 3rem;
	height: 3rem;
	border: 0.3rem solid transparent;
	display: block;
	font-size: 0;
	line-height: 0;

	span {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		transform: translate(-50%, -50%);
		border-bottom: 0.1rem solid;
		height: 0;

		@for $i from 1 through 3 {
			&:nth-child(#{$i}) {
				@if ($i == 1) {
					margin-top: -1rem;
				}
				@if ($i == 3) {
					margin-top: 1rem;
				}
			}
		}

		.menu-opened & {
			@for $i from 1 through 3 {
				&:nth-child(#{$i}) {
					@if ($i == 1) {
						margin-top: 0;
						transform: translate(-50%, -50%) rotate(45deg);
					}
					@if ($i == 3) {
						margin-top: 0;
						transform: translate(-50%, -50%) rotate(-45deg);
					}
				}
			}
		}
	}
}
