.informer-last-news {
	.item {
		margin-bottom: 2.5rem;

		h3 {
			font-family: $fira-sans-condensed;
			margin-bottom: 1.5rem;
			font-size: 2rem;

			a {
				font-weight: 500;
				color: $mercury;
			}
		}

		figure {
			display: flex;
			margin-bottom: 2rem;

			@include media-breakpoint-down(lg) {
				flex-direction: column;
			}

			.img-holder {
				position: relative;
				width: 100%;
				min-height: 170px;

				@include media-breakpoint-up(lg) {
					max-width: 30rem;
					margin-right: 2rem;
				}

				@include media-breakpoint-down(lg) {
					margin-bottom: 2rem;
				}

				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			figcaption {
				flex: 1;
				color: $cloudy;
			}
		}

		.more-link {
			font-style: italic;
		}
	}
}
