.informer-last-news {
	.item {
		margin-bottom: 2rem;
		padding-bottom: 2rem;
		border-bottom: 0.1rem solid $tuatara;

		h3 {
			margin-bottom: 1.5rem;
			font-size: 1.8rem;

			a {
				font-weight: 500;
				color: $mercury;
			}
		}

		figure {
			display: flex;

			@include media-breakpoint-down(md) {
				flex-direction: column;
			}

			.img-holder {
				position: relative;
				width: 100%;
				padding-bottom: 18%;

				@include media-breakpoint-up(md) {
					max-width: 30rem;
					margin-right: 1.5rem;
				}

				@include media-breakpoint-down(md) {
					margin-bottom: 1.5rem;
				}
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			figcaption {
				font-size: 1.4rem;
				line-height: 1.3;
				color: $cloudy;
			}
		}
	}
}
