.informer-last-files {
	.item {
		margin-bottom: 2rem;
		padding-bottom: 2rem;
		border-bottom: 0.1rem solid $tuatara;

		h3 {
			margin-bottom: 1.5rem;
			font-size: 1.6rem;
			font-weight: 500;
			color: $mercury;
		}

		figure {
			.img-holder {
				margin-bottom: 1rem;

				img {
					width: 100%;
				}
			}

			figcaption {
				font-size: 1.4rem;
				line-height: 1.3;
				color: $cloudy;
			}
		}
	}

	&.overflow-type {
		height: 50rem;
		overflow: auto;
	}

	&.news-page {
		.meta-info {
			margin-bottom: 1rem;
		}
	}

	&.video-page {
		.video-description {
			font-size: 1.4rem;
			line-height: 1.3;
			color: $cloudy;
		}

		.video-wrapper {
			margin-bottom: 1.5rem;
		}

		.meta-info {
			margin-bottom: 1rem;
		}
	}

	#allEntries {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -1.7rem;

		> div {
			width: 33.33333333%;

			@include media-breakpoint-down(lg) {
				width: 50%;
			}

			@include media-breakpoint-down(md) {
				width: 100%;
			}
		}

		.item {
			margin: 0 1.7rem 3rem 1.7rem;
		}
	}
}
