.item-video {
	margin-bottom: 2rem;

	figure {
		img {
			width: 100%;
			border-radius: 0.5rem;
		}
	}

	h3 {
		margin-bottom: 1.5rem;
		font-size: 1.6rem;

		a {
			color: $mercury;
		}
	}

	.video-meta {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;

		li {
			margin-bottom: 0.5rem;
			color: $gray2;
			font-size: 1.3rem;

			&.dot {
				position: relative;
				padding-right: 1.5rem;

				&::after {
					content: "";
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: 0;
					width: 0.5rem;
					height: 0.5rem;
					background: $gray2;
					border-radius: 50%;
				}
			}

			a {
				color: $mercury;
			}

			&:not(:last-child) {
				margin-right: 1.5rem;
			}
		}
	}
}
