html {
  font-size: 10px;
}

body {
  margin: 0;
  min-width: 320px;
  background: $body-bg;
  color: $text-color-base;
  font: $font-weight-base #{$font-size-base}/ $line-height-base $font-family-base;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  display: flex;
  flex-direction: column;

  &.is_wpforo_page-1,
  &.home {
    .breadcrumb {
      display: none;
    }
  }

  &.wpft-account,
  &.wpft-messages {
    .wpforo-right-sidebar {
      display: none !important;
    }
  }
}

a {
  text-decoration: none;
  transition: $transition;

  &:hover {
    text-decoration: underline;
  }
}

input {
  &:-webkit-autofill {
    box-shadow: 0 0 0 1000px lighten($black, 30) inset !important;
  }
  &:focus,
  &:focus-visible {
    outline: 0;
    box-shadow: none;
  }
}

button {
  align-items: unset;
}

button,
input[type="search"],
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
  cursor: pointer;
  transition: $transition;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  border: none;
  padding: 0;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
}

.site-main {
  position: relative;
  z-index: 5;
  flex-grow: 1;
  max-width: 125rem;
  width: 100%;
  margin: auto;
  background: $bg-color;
  border: solid 0.1rem $border-color;
}

strong,
b {
  font-weight: 600;
}

hr,
.wp-block-separator {
  border: none;
  margin: 0;
  opacity: 1;
  border-bottom: solid 0.1rem hsla(36, 49%, 90%, 0.2);
}

.wp-block-separator {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.tooltip-inner {
  padding: 1rem;
}

::-webkit-scrollbar {
  width: 1.2rem;
  background: rgb(6 5 6);
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 1.2rem;
  border: solid 0.3rem rgb(6 5 6);
}
