.uf-btn,
.pollBut {
	background: $mine-shaft;
	border: solid 0.1rem $black;
	color: $gray2;
	padding: 0.5rem 1rem;
	border-radius: 0.3rem;
	transition: $transition;

	&:hover {
		color: $cloudy;
		transition: $transition;
	}
}
