.wrapper-poll {
	.pollQue {
		margin-bottom: 0.5rem;
		color: $cloudy;
	}

	.pollAns {
		.answer {
			margin-bottom: 0.3rem;
			color: $cloudy;
		}
	}

	.pollButton {
		margin: 1rem 0;
		text-align: left;
	}

	.pollLnk {
		color: $gray2;
	}

	.pollTot {
		color: $gray2;
	}
}
