.catsTable {
	margin-bottom: 2rem;

	.catsTd {
		display: flex;
		padding-right: 1rem;
		align-items: center;
		justify-content: space-between;
		border-bottom: solid 0.1rem $tuatara;
		transition: $transition;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}

		&:hover {
			background: $tuatara;
			transition: $transition;
		}
	}

	.catName,
	.catNameActive {
		display: block;
		flex: 1;
		padding: 1rem 1rem;
		color: $mercury;
		text-decoration: none;
	}

	.catNumData {
		color: $gray2;
	}
}
