// vars
$images: "../images/";
$fonts: "../fonts/";

$primary-font: "Rubik", sans-serif;
$secondary-font: "Oswald", sans-serif;

$primary: rgb(238, 153, 26);
$red: red;
$body-color: #8c8983;
$bg-color: rgba(6, 6, 5, 0.5);
$body-bg: #181512;

// base vars
$text-color-base: $body-color;
$font-family-base: $primary-font;
$font-size-base: 1.6rem;
$font-weight-base: 400;
$line-height-base: 1.3;
$links-color-base: $primary;
$transition: all 0.3s ease;
$border-color: hsla(36, 49%, 90%, 0.2);

// bootstrap vars
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 1,
  2: $spacer * 2,
  3: $spacer * 3,
  4: $spacer * 4,
  5: $spacer * 5
);

$display-font-sizes: (
  1: 3.5rem,
  2: 3rem,
  3: 2.5rem,
  4: 2rem,
  5: 1.5rem,
  6: 2rem
);
$display-font-weight: 300;

$grid-columns: 12;
$grid-gutter-width: 30px;
$grid-gutter-width-mobile: $grid-gutter-width;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1340px
);

$headings-margin-bottom: $spacer * 0.5;
$headings-font-family: $secondary-font;
$headings-font-style: null;
$headings-font-weight: 400;
$headings-line-height: 1.2;
$headings-color: #f2e8d9;
$modal-content-bg: $body-bg;
// dropdown
$dropdown-bg: #f2e8d9;
$dropdown-link-hover-bg: $primary;
