.widget_block {
	&.widget_recent_comments {
		color: $cloudy;

		.wp-block-latest-comments {
			margin-bottom: 2rem;
			padding-left: 0;
		}

		.wp-block-latest-comments__comment-author {
			color: $mercury;
		}

		.wp-block-latest-comments__comment-link {
			color: $mercury;
		}

		.wp-block-latest-comments__comment-date {
			color: $dove-gray;
		}
	}
}

.widget_display_topics {
	.bbp-topics-widget {
		margin: 0 0 1.5rem 0;
		padding: 0;
		list-style: none;

		li {
			display: flex;
			flex-wrap: wrap;
			font-size: 1.3rem;
			padding: 1rem;
			background: lighten($cod-gray, 5);
			border-radius: 0.5rem;

			&:not(:last-child) {
				margin-bottom: 1rem;
			}

			.bbp-forum-title {
				display: block;
				width: 100%;
				font-size: 1.6rem;
			}

			.topic-author {
				margin: 0 0.5rem;

				.bbp-author-avatar {
					margin-right: 0.3rem;
				}
			}
		}
	}
}

.widget_post_views_counter_list_widget {
	ol {
		margin: 0 0 1.5rem 0;
		padding: 0;
		list-style: none;

		li {
			position: relative;
			display: flex;
			flex-direction: column;

			&:not(:last-child) {
				padding-bottom: 1.5rem;
				margin-bottom: 1.5rem;
				border-bottom: solid 0.1rem #1d1d1d;
			}
		}
	}

	.post-thumbnail {
		display: block;
		margin-bottom: 1.5rem;
		order: 2;

		img {
			width: 100%;
			height: auto;
		}
	}

	.post-title {
		display: block;
		font-weight: 600;
		font-size: 1.4rem;
		margin-bottom: 1.5rem;
		order: 1;
	}

	.post-excerpt {
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		overflow: hidden;
		font-size: 1.3rem;
		order: 3;
	}

	.count {
		display: block;
		padding-top: 0.5rem;
		font-size: 1.3rem;
		order: 4;

		&::before {
			content: "Переглядів: ";
		}
	}
}
