.widget_block {
	&.widget_recent_comments {
		color: $cloudy;

		.wp-block-latest-comments {
			margin-bottom: 2rem;
			padding-left: 0;
		}

		.wp-block-latest-comments__comment-author {
			color: $mercury;
		}

		.wp-block-latest-comments__comment-link {
			color: $mercury;
		}

		.wp-block-latest-comments__comment-date {
			color: $dove-gray;
		}
	}
}

.widget_display_topics {
	.bbp-topics-widget {
		margin: 0 0 1.5rem 0;
		padding: 0;
		list-style: none;

		li {
			display: flex;
			flex-wrap: wrap;
			font-size: 1.3rem;
			padding: 1rem;
			background: lighten($cod-gray, 5);
			border-radius: 0.5rem;

			&:not(:last-child) {
				margin-bottom: 1rem;
			}

			.bbp-forum-title {
				display: block;
				width: 100%;
				font-size: 1.6rem;
			}

			.topic-author {
				margin: 0 0.5rem;

				.bbp-author-avatar {
					margin-right: 0.3rem;
				}
			}
		}
	}
}
