@import "vars";
@import "mixins/mixins";
// libraries
@import "custom-bootstrap";
@import "libraries/fancybox";
@import "libraries/swiper/swiper";
// global
@import "reset";
@import "common";
// mixins
@import "mixins/mixins";
// components
@import "components/button";
@import "components/layout/header";
@import "components/layout/footer";
@import "components/search-form";
@import "components/search-card";
@import "components/social-links";
@import "components/cards/card";
@import "components/cards/card-mods";
@import "components/cards/card-video";
@import "components/cards/card-news";
@import "components/comments-area";
@import "components/tags-list";
@import "components/cards/card-wiki-cat";
@import "components/breadcrumb";
@import "components/comment-rating-form";
@import "components/modal";
@import "components/stalker-inventory";
@import "components/list-groups";

// pages
@import "pages/single-post";
@import "pages/main-page";
@import "pages/library-single";

// wp
@import "wp/wpforo";
@import "wp/wpforo-profile";
@import "wp/wp-widgets";
@import "wp/wp-pagenavi";
@import "wp/wp-polls";
@import "wp/wp-global";

// informers
@import "components/informers/top-mods";
@import "components/informers/informer-last-comments";
@import "components/informers/informer-buy-game";
@import "components/informers/informer-top-10-mods";
@import "components/informers/informer-new-videos";
