.top-mods {
	margin: 0;
	padding: 0;
	counter-reset: section;
	list-style: none;

	.mods-item {
		position: relative;
		display: flex;
		margin-bottom: 1.5rem;
		border-bottom: 0.1rem solid $tuatara;
		padding-bottom: 1.5rem;

		@include media-breakpoint-down(md) {
			flex-direction: column;
		}

		.img-holder {
			margin-right: 1.5rem;
		}

		h2 {
			padding-bottom: 0;
			border-bottom: none;
		}

		&::before {
			counter-increment: section;
			content: counter(section) ".";
			margin-right: 1.5rem;
			font-weight: 600;
			font-size: 2rem;
			font-family: $oswald;
			min-width: 2.8rem;
		}

		.item-meta {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;

			li {
				display: flex;

				.icon-holder {
					display: flex;
					margin-right: 0.5rem;
				}

				&:not(:last-child) {
					margin-right: 2rem;
				}
			}
		}
	}
}
