.section-faq {
  padding-top: 20rem;
  padding-bottom: 21.5rem;

  .section-title {
    margin-bottom: 6rem;
    text-align: center;
    text-transform: uppercase;
  }

  .container {
    max-width: 112rem;
  }
}
