.section-about {
  padding-top: 170px;
  padding-bottom: 28.5rem;
  text-align: center;

  .section-title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20rem;
    margin-bottom: 11rem;

    &::before {
      position: absolute;
      content: "W";
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24rem;
      color: #460000;
      z-index: -1;
    }
  }

  .cards-holder {
    display: grid;
    grid-template-columns: repeat(4, minmax(5rem, 1fr));
    gap: 3rem;

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;

      .icon-holder {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 12rem;
        height: 12rem;
        margin-bottom: 2rem;
        background: $color-primary;
        border-radius: 50%;
      }

      .card-title {
        margin-bottom: 1rem;
        font-weight: 800;
        font-size: 4rem;
        line-height: 1.25;
      }

      .card-subtitle {
        margin-bottom: 1rem;
        font-weight: 800;
        font-size: 2rem;
        text-transform: uppercase;
      }

      .card-text {
        margin-bottom: 0;
        font-size: 1.6rem;
        line-height: 1.56;
      }
    }
  }
}
