@import "_vars";

@font-face {
	font-family: "Pan Display";
	src: url("#{$fonts}PanDisplay-Regular.woff2") format("woff2"), url("#{$fonts}PanDisplay-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Pan Display";
	src: url("#{$fonts}PanDisplay-Bold.woff2") format("woff2"), url("#{$fonts}PanDisplay-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
