.catalog-page {
	padding-bottom: 10.2rem;

	.h1 {
		margin-bottom: 3.1rem;
	}

	.h3 {
		margin-bottom: 2.5rem;
		font-size: 2.2rem;
		line-height: 1.5;
		color: #5c5f60;
	}

	.container {
		.row-cards {
			@include grid-gutter(2.4rem);

			& > [class^="col"] {
				margin-bottom: 2.4rem;
			}
		}
	}

	.pagination-holder {
		display: flex;
		justify-content: center;
		padding-top: 3.1rem;
	}
}
