.catalog-card {
	position: relative;
	padding: 4.3rem 2.4rem 2.4rem 2.4rem;
	height: 100%;
	background: #ffffff;
	border: 0.1rem solid #eff1f1;
	border-radius: 0.4rem;

	.card-body {
		padding: 3.6rem 0 0 0;
	}

	.favorite {
		position: absolute;
		top: 0.9rem;
		right: 1.3rem;
		padding: 1rem;
		background: transparent;
		border: none;
	}

	.img-holder {
		position: relative;
		max-width: 20.7rem;
		margin: auto;
	}

	.card-characteristic-badge {
		position: absolute;
		top: 2rem;
		left: 2.2rem;
		padding: 0.4rem 0.8rem;
		font-size: 1rem;
		color: #2d3132;
		background: #e0e3e3;
		border-radius: 0.4rem;
		z-index: 2;
	}

	.card-top-badge {
		position: absolute;
		left: -2.8rem;
		bottom: -2rem;
		display: inline-block;
		padding: 0.4rem 0.8rem;
		font-size: 1rem;
		color: #00382f;
		text-transform: uppercase;
		background: #b4fff0;
		border-radius: 0.4rem;
	}

	.card-brand {
		margin-bottom: 0.7rem;
		font-weight: 500;
		font-size: 1rem;
		color: #5c5f60;
		text-transform: uppercase;
	}

	.card-title {
		font-weight: 400;
		margin-bottom: 2.6rem;
		font-size: 1.4rem;
		color: #2d3132;
	}

	.card-footer {
		padding: 0;
		background: transparent;
		border-top: none;

		.icon-holder {
			display: flex;
		}
	}

	.card-price {
		span {
			display: block;
		}
	}

	.card-location {
		display: flex;
		align-items: center;
		margin-bottom: 0.4rem;

		.icon-holder {
			margin-right: 0.1rem;
		}

		font-size: 1.2rem;
	}

	.card-author {
		display: flex;
		align-items: center;
		font-size: 1.4rem;

		.icon-holder {
			margin-right: 0.8rem;
			width: 2rem;
			height: 2rem;
			border-radius: 50%;

			img {
				width: 100%;
				height: auto;
			}
		}
	}

	.old-price {
		font-size: 1.2rem;
		color: #747778;
		text-decoration: line-through;
	}

	.new-price {
		font-weight: 500;
		font-size: 1.4rem;
	}
}
