/* header */
#header {
	margin-bottom: 3.2rem;
	border-bottom: 0.1rem solid #e0e3e3;

	.promo-line {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.55rem 0;
		background: #cbdcff;

		.text-holder {
			margin-left: 1.1rem;
			font-size: 1.6rem;
			line-height: 1.5;

			p {
				margin-bottom: 0;
			}
		}
	}

	.header-top {
		display: flex;
		align-items: center;
		padding-top: 2.2rem;
		padding-bottom: 2.1rem;
		border-bottom: solid 0.1rem #e0e3e3;

		@include media-breakpoint-down(lg) {
			flex-wrap: wrap;
		}

		@include media-breakpoint-down(md) {
			flex-direction: column;
		}
	}

	.logo {
		max-width: 14.9rem;

		@include media-breakpoint-up(md) {
			margin-right: 8.3rem;
		}

		@include media-breakpoint-down(md) {
			margin-bottom: 2rem;
		}

		img {
			width: 100%;
			height: auto;
		}
	}

	.search-holder {
		display: flex;
		flex-grow: 1;
		position: relative;

		@include media-breakpoint-up(md) {
			margin-right: 1.9rem;
		}

		@include media-breakpoint-down(md) {
			align-self: self-start;
			width: 100%;
		}

		.icon-holder {
			position: absolute;
			top: 50%;
			left: 1.6rem;
			transform: translateY(-50%);
			display: flex;
		}

		.form-control {
			flex-grow: 1;
			width: unset;
			padding: 0.7rem 2rem 0.9rem 5.2rem;
			box-shadow: none;
			font-size: 1.2rem;
			border: 0.16rem solid #e0e3e3;
			border-radius: 0.4rem;

			@include media-breakpoint-up(sm) {
				margin-right: 2.4rem;
			}
		}

		.btn {
			@include media-breakpoint-down(sm) {
				display: none;
			}
		}
	}

	.additional-panel {
		display: flex;
		align-items: center;

		@include media-breakpoint-down(lg) {
			margin-left: auto;
			padding-top: 2rem;
		}

		@include media-breakpoint-down(md) {
			margin-left: unset;
		}
	}

	.lang-dropdown {
		display: flex;
		align-items: center;
		font-size: 1.2rem;
		background: transparent;
		border: none;

		&::after {
			width: 1rem;
			height: 0.6rem;
			background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.775757 1.02431L1.62428 0.175781L6.00002 4.55152L10.3758 0.175781L11.2243 1.02431L6.00002 6.24857L0.775757 1.02431Z' fill='%23747778'/%3E%3C/svg%3E%0A");
			background-size: 1rem;
			border: none;
		}
	}

	.user-panel {
		display: flex;
		align-items: center;
		margin: 0 0 0 2.9rem;
		padding: 0;
		list-style: none;

		.panel-item {
			position: relative;

			&:not(:last-child) {
				margin-right: 2.1rem;
			}
		}

		.counter {
			position: absolute;
			top: 0;
			right: 0;
			transform: translate(50%, -50%);
			display: flex;
			align-items: center;
			justify-content: center;
			width: 1.7rem;
			height: 1.7rem;
			font-size: 1rem;
			background: #eff1f1;
			border-radius: 50%;
			border: 0.24rem solid #ffffff;

			&.red {
				color: white;
				background: #ff5449;
			}
		}

		.avatar-holder {
			display: flex;
			align-items: center;
			margin-left: 1.2rem;

			.arrow-down {
				margin-left: 0.8rem;
			}
		}
	}

	.navbar {
		padding-top: 0;
		padding-bottom: 0;

		@include media-breakpoint-down(lg) {
			padding-top: 1rem;
			padding-bottom: 1rem;
		}
	}

	.navbar-nav {
		.nav-link {
			position: relative;
			padding: 1.54rem 1.57rem;
			font-weight: 500;
			color: #444748;
			text-transform: uppercase;
			text-decoration: none;

			&::after {
				content: "";
				position: absolute;
				width: 100%;
				transform: scaleX(0);
				height: 0;
				bottom: 0;
				left: 0;
				border-bottom: 0.2rem solid;
				transform-origin: bottom right;
				transition: transform 0.25s ease-out;

				@include media-breakpoint-down(lg) {
					opacity: 0;
				}
			}

			&:hover {
				&::after {
					transform: scaleX(1);
					transform-origin: bottom left;
				}
			}

			&.active {
				&::after {
					transform: scaleX(1);
					transform-origin: bottom left;
				}
			}
		}
	}
}

.open-menu {
	position: relative;
	width: 3rem;
	height: 3rem;
	border: 0.3rem solid transparent;
	display: block;
	font-size: 0;
	line-height: 0;

	span {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		transform: translate(-50%, -50%);
		border-bottom: 0.1rem solid;
		height: 0;

		@for $i from 1 through 3 {
			&:nth-child(#{$i}) {
				@if ($i == 1) {
					margin-top: -1rem;
				}
				@if ($i == 3) {
					margin-top: 1rem;
				}
			}
		}

		.menu-opened & {
			@for $i from 1 through 3 {
				&:nth-child(#{$i}) {
					@if ($i == 1) {
						margin-top: 0;
						transform: translate(-50%, -50%) rotate(45deg);
					}
					@if ($i == 3) {
						margin-top: 0;
						transform: translate(-50%, -50%) rotate(-45deg);
					}
				}
			}
		}
	}
}
