.pagination {
	font-size: 1rem;
	align-items: center;

	@include media-breakpoint-down(md) {
		overflow: auto;
	}

	.page-item {
		border: none;

		&:not(:last-child) {
			margin-right: 0.9rem;

			.page-link {
				border-radius: 50%;
			}
		}

		&:first-child {
			.page-link {
				padding: 0.575rem 1.3rem;
				border-radius: 10rem;
			}
		}

		&:last-child {
			.page-link {
				padding: 0.575rem 1.3rem;
				border-radius: 10rem;
			}
		}

		&:last-child,
		&:first-child {
			font-size: 1.2rem;
		}

		&.active {
			.page-link {
				padding: 1.1rem 1.55rem;
				color: #2d3132;
				background: white;
				border-color: #2d3132;
			}
		}
	}

	.page-link {
		padding: 0.775rem 1.3rem;
		text-decoration: none;
		color: #5c5f60;
		border: 0.16rem solid #c4c7c7;
	}
}
