.sort-dropdown {
	display: flex;
	align-items: center;
	margin-bottom: 2.4rem;

	.sort-title {
		margin-right: 1.2rem;
		font-size: 1.2rem;
		color: #5c5f60;
	}

	.dropdown-toggle {
		position: relative;
		padding: 0.8rem 4rem 0.8rem 1.2rem;
		font-size: 1.2rem;
		color: #2d3132;
		background: #eff1f1;
		box-shadow: none;
		border-radius: 4rem;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 3rem;
			width: 0.1rem;
			height: 100%;
			background: white;
		}

		&::after {
			position: absolute;
			top: 50%;
			right: 1.2rem;
			width: 1rem;
			height: 1rem;
			border: none;
			transform: translateY(-50%);
			background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.646423 3.35353L1.35353 2.64642L4.99998 6.29287L8.64642 2.64642L9.35353 3.35353L4.99998 7.70708L0.646423 3.35353Z' fill='%235C5F60'/%3E%3C/svg%3E%0A");
			background-position: center;
			transition: 0.15s linear;
		}

		&:hover {
			background: darken(#eff1f1, 2);
		}

		&.show {
			background: darken(#eff1f1, 2);

			&::after {
				transform: translateY(-50%) rotate(180deg);
			}
		}
	}
}
