.page-game {
  .game-poster {
    width: 25rem;
    max-width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }

  .game-info {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: flex;

        @include media-breakpoint-down(md) {
          flex-direction: column;
        }

        span {
          &:first-child {
            display: block;

            @include media-breakpoint-up(md) {
              min-width: 20rem;
              margin-right: 2rem;
            }

            @include media-breakpoint-down(md) {
              margin-bottom: 0.5rem;
            }
          }
        }

        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }
  }

  .game-description {
    line-height: 1.55;
  }

  .game-screenshots {
    @include grid-gutter(1.5rem);

    [class^="col"] {
      margin-bottom: 1.5rem;
    }

    a {
      display: flex;
      height: 12.6rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .game-trailer {
    iframe {
      width: 100%;
    }
  }

  .alert {
    line-height: 1.55;
    background: rgba(var(--bs-secondary-color-rgb), 0.05);
  }

  .game-similars {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      &:not(:last-child) {
        margin-right: 1.5rem;
      }

      a {
        display: flex;
        width: 8rem;
        height: 12rem;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
