.sidebar {
	width: 25.5rem;
	padding-top: 3.7rem;
	color: $santas-gray;
	background: $tuna;

	.logo {
		display: flex;
		align-items: center;
		padding-left: 3.2rem;
		margin-bottom: 5.9rem;

		.icon {
			position: relative;
			width: 3.2rem;
			height: 3.2rem;
			margin-right: 1.2rem;
			background: $blue-ribbon;
			border-radius: 50%;

			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: calc(50% + 0.05rem);
				transform: translate(-50%, -50%);
				width: 1.4rem;
				height: 1.4rem;
				background: linear-gradient(143.7deg, rgba($white, 0.7) 0%, $white 100%);
				border-top-left-radius: 0.1rem;
				border-bottom-left-radius: 0.1rem;
				border-top-right-radius: 0.9rem;
				border-bottom-right-radius: 0.9rem;
			}
		}
	}

	.menu {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 1.6rem;

		li {
			&:nth-child(7) {
				border-top: solid 0.1rem rgba($athens-gray, 0.1);
			}
		}

		a {
			position: relative;
			display: flex;
			align-items: center;
			padding: 1.8rem 2.4rem 1.8rem 3.2rem;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 0.3rem;
				height: 100%;
				background: $fog;
				opacity: 0;
				transition: $transition;
			}

			&:hover {
				background: rgba($santas-gray-100, 0.08);

				&::before {
					opacity: 1;
				}

				.icon-holder {
					opacity: 1;
				}
			}
		}

		.icon-holder {
			display: inline-flex;
			margin-right: 2.4rem;
			opacity: 0.3;
			transition: $transition;
		}
	}
}
