.card-news {
	margin-bottom: 2rem;

	figure {
		display: flex;
		margin-bottom: 2rem;

		@include media-breakpoint-down(lg) {
			flex-direction: column;
		}

		.img-holder {
			position: relative;
			width: 100%;
			min-height: 17rem;
			mask: url(#{$images}mask.svg) top left/100% 100%;
			mask-size: cover;
			border-radius: 0.5rem;

			@include media-breakpoint-up(lg) {
				max-width: 30rem;
				margin-right: 2rem;
			}

			@include media-breakpoint-down(lg) {
				margin-bottom: 2rem;
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 0.5rem;
			}

			&.img-small {
				@include media-breakpoint-up(lg) {
					max-width: 20rem;
					min-height: 10rem;
				}
			}
		}

		figcaption {
			flex: 1;

			a {
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	.more-link {
		font-style: italic;
	}
}
