.card-video {
	.img-holder {
		position: relative;
		display: flex;
		margin-bottom: 1rem;

		img {
			width: 100%;
			height: auto;
			border-radius: 0.5rem;
			aspect-ratio: 16 / 8;
			object-fit: cover;
		}

		.video-duration {
			position: absolute;
			right: 1.5rem;
			bottom: 1.5rem;
			padding: 0.2rem 0.4rem;
			font-size: 1.4rem;
			background: black;
			border-radius: 0.5rem;
		}
	}

	.card-title {
		margin-bottom: 0.5rem;
		font-weight: 500;
		color: #cdcdcd;
		font-size: 2rem;
		line-height: 1.3;
	}

	.card-info {
		margin: 0;
		padding: 0;
		color: #878787;
		font-size: 1.4rem;
		line-height: 1.5;
		list-style: none;
	}

	a {
		color: #cdcdcd;
	}

	.with-dot {
		position: relative;

		&::after {
			content: "";
			top: 50%;
			right: 0;
			display: inline-flex;
			margin-left: 0.6rem;
			margin-right: 0.6rem;
			width: 4px;
			height: 4px;
			background: #878787;
			transform: translateY(-50%);
			border-radius: 50%;
		}
	}
}
