.main-page {
	.informer-buy-game {
		&.new-mods {
			h3 {
				margin-bottom: 0;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
				-webkit-line-clamp: 1;

				a {
					color: inherit;
				}
			}

			.card-news {
				padding: 0;
				border: none;
				background: transparent;
			}
		}
	}

	.card-article {
		h3 {
			margin-bottom: 0;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			-webkit-line-clamp: 2;
		}
	}

	.card-video {
		h3 {
			margin-bottom: 0;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			-webkit-line-clamp: 1;
		}

		.img-holder {
			&::before {
				content: "\F4F4";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 5rem;
				height: 5rem;
				display: flex;
				align-items: center;
				justify-content: center;
				font-family: bootstrap-icons !important;
				font-size: 2rem;
				color: $primary;
				background: $bg-color;
				border-radius: 50%;
				z-index: 2;
			}
		}
	}
}
