/* buttons */
.btn {
	white-space: normal;
	border-radius: 0;

	.fa {
		margin-left: 5px;
	}

	&--warning {
		position: relative;
		padding: 2rem 2rem;
		font-weight: 700;
		font-size: 2.2rem;
		color: $cloud-burst;
		text-transform: uppercase;
		z-index: 1;
		border: 0;

		@include media-breakpoint-down(md) {
			padding: 1.4rem 2rem;
			font-size: 1.6rem;
		}

		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $candlelight;
			z-index: -2;
		}
		&:before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0%;
			height: 100%;
			background-color: darken($candlelight, 30%);
			transition: all 0.3s;
			z-index: -1;
		}
		&:hover {
			color: $white;
			text-decoration: none;

			&:before {
				width: 100%;
			}
		}
	}
}
