.paper {
	margin-top: -20.8rem;
	overflow: hidden;
	padding-top: 10rem;
	padding-bottom: 21.8rem;

	@include media-breakpoint-down(lg) {
		padding-right: 0;
	}

	@include media-breakpoint-down(md) {
		padding-bottom: 9.8rem;
		padding-left: 0;
		margin-top: -26.4rem;
	}

	.container {
		position: relative;
		z-index: 2;
		background: $mariner;

		@include media-breakpoint-down(md) {
			padding-left: 0;
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: -100vw;
			width: 100vw;
			height: 100%;
			background: $mariner;
		}
	}

	.paper-block {
		position: relative;
		padding-top: 7.3rem;
		padding-bottom: 1rem;

		@include media-breakpoint-down(md) {
			padding-top: 19.5rem;
			padding-left: 3rem;
			padding-bottom: 1.3rem;
		}

		&__title {
			font-weight: 800;
			font-size: 3.2rem;
			line-height: 1.217;
			letter-spacing: 0.064rem;
			color: $white;

			@include media-breakpoint-down(md) {
				font-size: 2.2rem;
				line-height: 1.218;
			}
		}

		&__text {
			padding-top: 4.2rem;
			font-weight: 400;
			font-size: 2.4rem;
			line-height: 1.416;
			color: $white;
			letter-spacing: 0.048rem;

			@include media-breakpoint-down(md) {
				font-size: 1.6rem;
				line-height: 1.5;
				letter-spacing: 0.032rem;
			}
		}

		.illustration {
			position: absolute;
			left: 0;
			bottom: -4.6rem;
			opacity: 0.2;
			z-index: -1;

			@include media-breakpoint-down(md) {
				width: 19.6rem;
				bottom: -2rem;
			}

			img {
				@include media-breakpoint-down(md) {
					width: 100%;
					height: auto;
				}
			}
		}
	}

	&__btn-holder {
		position: relative;
		bottom: -4.5rem;
		display: flex;
		justify-content: center;

		@include media-breakpoint-down(md) {
			margin-left: -3rem;
			bottom: -2.8rem;
			margin-bottom: -1.1rem;
		}

		.btn {
			width: 66.2%;

			@include media-breakpoint-down(md) {
				width: 75%;
			}
		}
	}

	.relative {
		@include media-breakpoint-up(md) {
			position: relative;
		}
	}

	.journal-holder {
		position: absolute;
		top: -24%;
		right: -2.9%;
		margin-left: -9rem;

		@include media-breakpoint-down(md) {
			position: absolute;
			top: -10%;
			right: -14rem;
			margin-left: 7.6rem;
			margin-right: -2.7rem;
			width: 46.4rem;
		}

		img {
			width: 100%;
			height: auto;
		}
	}
}
