// vars
$images: "../images/";
$fonts: "../fonts/";
$fa-font-path: "../fonts/fontawesome";

// fonts
$proxima-nova: "Proxima Nova";

// bootstrap grid
$grid-columns: 12;
$grid-gutter-width: 34px;
$grid-gutter-width-mobile: $grid-gutter-width;

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1340px
);

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1302px
);

// colors
$white: #fff;
$black: #000;
$gray: #707070;
$catskill-white: #eaeff5;
$cloud-burst: #233148;
$geyser: #d9dfe6;
$bali-hai: #8796ae;
$mariner: #1f65d9;
$candlelight: #fccf18;
$chathams-blue: #12336a;

// base vars
$text-color-base: $gray;
$body-bg: $catskill-white;
$font-family-base: $proxima-nova;
$font-size-base: 1.8rem;
$font-weight-base: 300;
$line-height-base: 1.555;
$links-color-base: inherit;

$transition: all 0.3s ease;

// dev2
// dev3
// dev4
