.tickets-list {
	background: $white;
	border: 0.1rem solid $athens-gray;
	border-radius: 0.8rem;

	.header {
		padding: 3.2rem 3.2rem 1.6rem 3.2rem;

		.row {
			display: flex;
			justify-content: space-between;
		}

		h3 {
			margin-bottom: 0.8rem;
			font-weight: 700;
			line-height: 1;
		}

		button {
			font-weight: 600;
			font-size: 1.4rem;
			color: $blue-ribbon;
		}

		.category {
			font-size: 1.2rem;
			color: $santas-gray-100;

			span {
				font-weight: 600;
				color: $fiord;
			}
		}
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		font-weight: 600;
		font-size: 1.4rem;

		li {
			display: flex;
			justify-content: space-between;
			padding: 2.07rem 3.2rem;

			&:not(:last-child) {
				border-bottom: solid 0.1rem $athens-gray;
			}

			span {
				color: $santas-gray-100;
			}
		}
	}
}
