html {
	font-size: 10px;
	scroll-behavior: auto !important;
}

body {
	margin: 0;
	min-width: 320px;
	background: linear-gradient(180deg, rgba(200, 224, 149, 0.8) -5.17%, rgba(221, 238, 239, 0.8) 47.96%, rgba(255, 255, 255, 0.8) 100%);
	color: $text-color-base;
	font-family: $font-family-base;
	font-weight: $font-weight-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	letter-spacing: 0.04rem;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	&.menu-opened {
		@include media-breakpoint-down(lg) {
			position: fixed;
			width: 100%;
			overflow-y: scroll;
		}
	}
}

input {
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	&:-webkit-autofill {
		-webkit-box-shadow: 0 0 0 1000px white inset !important;
	}
	&:focus,
	&:focus-visible {
		outline: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}

a {
	text-decoration: none;
	color: $links-color-base;
	transition: $transition;
}

a:hover {
	color: $links-color-base;
}

button,
input[type="search"],
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: none;
	cursor: pointer;
	transition: $transition;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
	border: none;
	padding: 0;
}

.wrapper {
	min-height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100);
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1;
}

.container {
	max-width: 132rem;
	padding-left: 2rem;
	padding-right: 2rem;
}
