.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 1.5rem 3rem;
	font-weight: 800;
	font-size: 16px;
	text-decoration: none !important;
	border-radius: 10rem;

	&-primary {
		color: #ffffff;
		background: linear-gradient(316.53deg, #26fff2 13.2%, #326cff 71.54%);
		box-shadow: 0 0.4rem 5rem rgba(50, 108, 255, 0.5);

		&:hover {
			box-shadow: none;
		}
	}

	&-light {
		color: #323232;
		background: #ffffff;

		&:hover {
			background: darken(#ffffff, 10);
		}
	}

	&-with-icon {
		img {
			width: 1.4rem;
		}
	}

	&-icon-right {
		img {
			margin-right: 1.5rem;
		}
	}
}
