.genres-section {
	padding-bottom: 5rem;

	.row {
		display: flex;
		flex-wrap: wrap;
		margin-left: -1.305rem;
		margin-right: -1.305rem;

		.col {
			width: 25%;
			padding-left: 1.305rem;
			padding-right: 1.305rem;

			&:nth-child(1) {
				.genre-item {
					background: linear-gradient(109.31deg, #fd093f 2.4%, #f383f1 100%);
				}
			}

			&:nth-child(2) {
				.genre-item {
					background: linear-gradient(114.5deg, #0fffda 2.22%, #3cdb77 68.84%);
				}
			}

			&:nth-child(3) {
				.genre-item {
					background: linear-gradient(109.31deg, #b936ff 2.4%, #57deda 100%);
				}
			}

			&:nth-child(4) {
				.genre-item {
					background: linear-gradient(109.31deg, #fd093f 2.4%, #fb1378 2.41%, #fccb1a 100%);
				}
			}

			&:nth-child(5) {
				.genre-item {
					background: linear-gradient(109.31deg, #ff6472 2.4%, #fda75d 100%);
				}
			}

			&:nth-child(6) {
				.genre-item {
					background: linear-gradient(110.16deg, #13547a 2.37%, #80d0c7 96.77%);
				}
			}

			&:nth-child(7) {
				.genre-item {
					background: linear-gradient(109.93deg, #fff77b 2.37%, #ffbf42 50%);
				}
			}

			&:nth-child(8) {
				.genre-item {
					background: linear-gradient(109.31deg, #1fa2ff 2.4%, #1fa2ff 2.41%, #1f535c 97.46%);
				}
			}
		}
	}

	.genre-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-height: 19.8rem;
		margin-bottom: 2.7rem;
		border-radius: 2rem;
		color: white;
		text-decoration: none;
		transition: all 0.3s;

		.h3 {
			margin-bottom: 0;
			font-weight: 700;
			font-size: 2.8rem;
			line-height: 1.4;
		}

		.icon-holder {
			width: 8rem;
			margin-bottom: 0.8rem;

			img {
				width: 100%;
				height: auto;
			}
		}

		&:hover {
			opacity: 0.8;
		}
	}
}
