.movies-section {
	padding-top: 6.8rem;
	padding-bottom: 6rem;
	overflow: hidden;

	.row {
		display: flex;
		flex-wrap: wrap;
		margin-left: -2.05rem;
		margin-right: -2.05rem;

		.col {
			width: 16.66666667%;
			padding-left: 2.05rem;
			padding-right: 2.05rem;
		}
	}

	.movie-item {
		display: inline-flex;
		border-radius: 2rem;
		transition: all 0.3s;

		.img-holder {
			display: flex;

			img {
				width: 100%;
				height: auto;
				border-radius: 2rem;
			}
		}

		&:hover {
			box-shadow: 0 0.4rem 1rem 1rem rgba(#26fff2, 0.15);
		}
	}

	.btn-holder {
		padding-top: 7rem;
	}
}
