.section-visual-banner {
	padding-bottom: 12.1rem;

	.container {
		max-width: 126.4rem;
	}

	.inner-holder {
		position: relative;
		padding: 7rem 5.7rem 7.1rem 5.7rem;
		background: url("#{$images}visual-banner-background.jpg");
		border-radius: 2rem;
		overflow: hidden;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(336.56deg, #000000 58.12%, #ffffff 124.09%);
			opacity: 0.5;
			backdrop-filter: blur(25px);
		}
	}

	.row {
		position: relative;
		z-index: 2;
		display: flex;
		align-items: center;
	}

	.h2 {
		margin-bottom: 0;
		margin-right: 8.2rem;
		font-weight: 700;
		font-size: 6.4rem;
		line-height: 1;
		text-transform: capitalize;
		color: #ffffff;
	}

	.btn {
		padding-left: 1.8rem;
		padding-right: 1.8rem;
	}
}
