html {
	font-size: 10px;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-width: 320px;
	background: $body-bg;
	color: $text-color-base;
	font: $font-weight-base #{$font-size-base}/ $line-height-base $font-family-base;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	flex-direction: column;

	&.overflow-disabled,
	&.menu-opened {
		overflow: hidden;
	}
}

a {
	text-decoration: none;
	color: $links-color-base;
	transition: $transition;
}

a:hover {
	text-decoration: underline;
}

input {
	outline: none;
}

button,
input[type="search"],
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: none;
	cursor: pointer;
	transition: $transition;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
	border: none;
	padding: 0;
}

.wrapper {
	min-height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100);
	display: flex;
	flex-direction: column;
}

#main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

p {
	margin-top: 0;
}

h1,
h2,
h3,
h4,
h5 {
	margin-top: 0;
}
