// fonts
$main-font: "Roboto", sans-serif;

// breakpoints
$breakpoints: (
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
);

// base vars
$btn-primary-bg: #5d78ff;
$text-color-base: #001e41;
$body-bg: white;
$font-family-base: $main-font;
$font-size-base: 1.4rem;
$font-weight-base: 400;
$line-height-base: 1.5;
$links-color-base: inherit;
$headings-font-weight: 400;
$transition: all 0.3s ease;

// dev2
// dev3
// dev4
