.btn {
  &-arrow {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 2.4rem;
    letter-spacing: 0.04rem;

    @include media-breakpoint-down(md) {
      font-size: 1.8rem;
    }

    &:focus {
      box-shadow: none;
    }

    &:hover {
      .icon-holder {
        transform: translateX(0.5rem);
        transition: $transition;
      }
    }

    .icon-holder {
      display: inline-flex;
      width: 2.4rem;
      height: 2.4rem;
      margin-left: 1rem;
      transition: $transition;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
