html {
  font-size: 10px;
}

body {
  margin: 0;
  min-width: 320px;
  background: $body-bg;
  color: $black;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  letter-spacing: 0.04rem;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;

  &.menu-opened {
    position: fixed;
    width: 100%;
    overflow-y: scroll;
  }
}

a {
  text-decoration: none;
  color: $links-color-base;
  transition: $transition;
}

a:hover {
  color: $links-color-base;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input[type='search'],
input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: none;
  cursor: pointer;
  transition: $transition;
}

button::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner {
  border: none;
  padding: 0;
}

.wrapper {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
}

#main {
  flex-grow: 1;
}

.container-fluid {
  @include media-breakpoint-up(xxl) {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  @include media-breakpoint-down(xxl) {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  @include media-breakpoint-down(md) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.btn-holder {
  display: flex;
  justify-content: center;
}

.form-control {
  padding: 0 2rem 2rem 0;
  font-weight: 400;
  font-size: 2.4rem;
  letter-spacing: 0.04rem;
  color: $black;
  border-radius: 0;
  border: none;
  border-bottom: solid 0.2rem $black;

  @include media-breakpoint-down(md) {
    padding: 0 1.5rem 1.5rem 0;
    font-size: 1.8rem;
    border
  }

  &::placeholder {
    color: $silver-chalice;
  }

  &:focus {
    box-shadow: none;
    border-color: $black;
  }
}
