* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.header .n-button .n-button__content {
  color: white;
}
