.articles-section {
	position: relative;
	padding-top: 8rem;
	overflow: hidden;
	z-index: 2;

	@include media("<md") {
		padding-top: 5rem;
	}

	.row {
		@include set-gutter(4.7rem);

		.col {
			width: 100%;

			@include media(">=md") {
				max-width: 100%;
				flex: 1 0 0%;
			}
		}
	}

	.articles-item {
		margin-bottom: 7.8rem;

		@include media("<md") {
			margin-bottom: 4rem;
		}

		&:last-child {
			.row {
				flex-direction: row-reverse;
			}

			.content-holder {
				@include media(">=lg") {
					padding-top: 1rem;
					padding-right: 2.5rem;
				}
			}

			.img-holder {
				@include media(">=lg") {
					margin-left: -2.2rem;
				}
			}
		}

		&:first-child {
			.content-holder {
				@include media(">=lg") {
					padding-top: 1rem;
					padding-left: 2.5rem;
				}
			}

			.img-holder {
				@include media(">=lg") {
					margin-right: -2.7rem;
				}
			}
		}

		.img-holder {
			display: flex;

			@include media("<md") {
				margin-bottom: 2rem;
			}

			img {
				width: 100%;
				height: auto;
			}
		}

		.h2 {
			@include media("<md") {
				margin-bottom: 1rem;
			}
		}

		.text-holder {
			line-height: 1.875;

			P {
				margin-bottom: 0;

				&:not(:last-child) {
					margin-bottom: 3rem;
				}
			}
		}
	}
}
