.section-projects {
  padding-top: 16.5rem;
  padding-bottom: 15rem;
  background: #111111;

  @include media("<md") {
    padding-top: 8rem;
    padding-bottom: 7.5rem;
  }

  .section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7rem;

    @include media("<md") {
      margin-bottom: 4rem;
    }
  }

  .section-title {
    font-weight: 900;
  }

  .swiper-buttons-holder {
    display: flex;
    padding-left: 1rem;

    .swiper-button-next,
    .swiper-button-prev {
      width: 6rem;
      height: 6rem;
      padding: 0;
      background: transparent;
      border: solid 0.1rem $color-primary;

      @include media("<md") {
        width: 4.5rem;
        height: 4.5rem;
      }

      &:hover {
        background: $color-primary;
      }

      &:active {
        background: darken($color-primary, 10);
        border-color: darken($color-primary, 10);
      }

      &.swiper-button-disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    .swiper-button-prev {
      margin-right: 1rem;
    }
  }

  .card {
    .img-holder {
      display: flex;
      margin-bottom: 2rem;

      picture {
        width: 100%;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .card-title {
      margin-bottom: 1rem;
      font-weight: 800;
      font-size: 1.8rem;
      line-height: 1.6;
      text-transform: uppercase;

      a {
        text-decoration: none;
      }
    }

    .list-tags {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      font-weight: 800;
      font-size: 1.2rem;
      text-transform: uppercase;

      li {
        padding: 0.8rem 1rem;
        border: solid 0.1rem $color-primary;
      }
    }
  }

  .section-footer {
    padding-top: 6rem;
    display: flex;
    justify-content: center;

    .btn-primary {
      @include media("<sm") {
        width: 100%;
      }
    }
  }
}
