<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>test</title>
</head>

<body>
  <div class="wrapper">
    <!--  header -->
    <header class="header">
      <div class="container d-flex align-items-center justify-content-between">
        <div class="left-side justify-content-start">
          <div class="logo-holder">
            <a href="../"><img src="images/logo.svg" alt="Створення сайтів Львів"></a>
          </div>
          <button type="button" class="btn-menu-toggle">
            <span class="btn-lines">
              <span></span>
              <span></span>
              <span></span>
            </span>
            <span class="btn-title-open">меню</span>
            <span class="btn-title-close">закрити</span>
          </button>
          <button type="button" class="btn btn-primary open-popup d-none d-lg-block d-xl-none" data-rel="2">Задати запитання</button>
          <a href="tel:+380676075784" class="link-tel type-2 d-xl-none" target="_blank">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="CurrentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M16.5453 0V-0.1H16.4453H3.55469H3.45469V0V20V20.1H3.55469H16.4453H16.5453V20V0ZM15.1734 18.7281H4.82656V1.27188H15.1734V18.7281Z" stroke-width="0.2"></path>
              <path d="M8 15H12V17H8V15Z"></path>
            </svg>
            +38 067 607 57 84
          </a>
        </div>
        <nav class="main-nav d-none d-xl-block">
          <ul>
            <li><a href="#">Портфоліо</a></li>
            <li class="has-children"><span>Послуги<i></i></span>
              <ul>
                <li><a href="#">Створення сайтів</a></li>
                <li><a href="#">Брендинг та дизайн</a></li>
                <li><a href="#">CRM системи</a></li>
                <li><a href="#">Інтернет магазин</a></li>
                <li><a href="#">Лендінг</a></li>
                <li><a href="#">Підтримка сайту</a></li>
                <li><a href="#">Редизайн</a></li>
                <li><a href="#">Розробка додатків</a></li>
                <li><a href="#">Пошукова оптимізація</a></li>
              </ul>
            </li>
            <li><a href="#">Брендинг</a></li>
            <li><a href="#">Контакти</a></li>
          </ul>
        </nav>
        <div class="right-side d-none d-xl-flex">
          <a href="tel:+380676075784" class="link-tel" target="_blank">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="CurrentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M16.5453 0V-0.1H16.4453H3.55469H3.45469V0V20V20.1H3.55469H16.4453H16.5453V20V0ZM15.1734 18.7281H4.82656V1.27188H15.1734V18.7281Z" stroke-width="0.2"></path>
              <path d="M8 15H12V17H8V15Z"></path>
            </svg>+38 067 607 57 84</a>
          <button type="button" class="btn btn-primary open-popup">Задати запитання</button>
        </div>
      </div>
      <div class="menu-fullscreen">
        <div class="menu-overflow">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 d-flex flex-column">
                <div class="menu-fullscreen-top row align-items-center">
                  <div class="col-4 col-lg-3">
                    <div class="logo-holder change-logo"><a href="../"><img src="images/logo_white.svg" alt="Створення сайтів Львів"></a></div>
                  </div>
                  <div class="col-4 d-flex order-3 order-lg-0 justify-content-end justify-content-lg-start align-items-center">
                    <button type="button" class="btn-menu-toggle">
                      <span class="btn-lines">
                        <span></span>
                        <span></span>
                        <span></span>
                      </span>
                      <span class="btn-title-open">меню</span>
                      <span class="btn-title-close">закрити</span>
                    </button>
                  </div>
                  <div class="col-4 d-flex align-items-center justify-content-center justify-content-lg-between">
                    <div class="lang d-flex ms-lg-auto order-1 order-lg-2"><a href="../" class="current">УКР</a> <a href="../en/">ENG</a> <a href="../ru/">РУС</a></div>
                  </div>
                </div>
                <div class="menu-fullscreen-middle d-flex flex-column flex-grow-1">
                  <div class="row flex-lg-grow-1 align-items-lg-center position-relative">
                    <div class="col-lg-6">
                      <button type="button" class="btn btn-primary btn-before-menu d-lg-none open-popup" data-rel="2">Задати запитання</button>
                      <nav class="menu-fullscreen-primary">
                        <ul>
                          <li class="has-submenu">
                            <span class="has-submenu-link toggled">Портфоліо
                              <i class="sub-menu-arr">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" height="10px" width="10px" version="1.1" id="Layer_1" viewBox="0 0 330 330" xml:space="preserve">
                                  <path fill="currentColor" id="XMLID_225_" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393  c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393  s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z" />
                                </svg>
                              </i>
                            </span>
                            <div class="sub-menu">
                              <button type="button" class="sub-menu-close"><svg width="24" height="17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M15.568 0L24 8.5 15.568 17l-1.73-1.744 5.405-5.448H0V7.192h19.243l-5.405-5.448L15.568 0z"></path>
                                </svg>
                              </button>
                              <ul>
                                <li><a href="#">Доставка їжі</a></li>
                                <li><a href="#">Будівництво</a></li>
                                <li><a href="#">APP</a></li>
                                <li><a href="#">Фінанси</a></li>
                                <li><a href="#">Маркетинг</a></li>
                              </ul>
                            </div>
                          </li>
                          <li class="has-submenu">
                            <span class="has-submenu-link toggled">
                              Послуги
                              <i class="sub-menu-arr">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" height="10px" width="10px" version="1.1" id="Layer_2" viewBox="0 0 330 330" xml:space="preserve">
                                  <path fill="currentColor" id="XMLID_226_" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393  c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393  s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z" />
                                </svg>
                              </i>
                            </span>
                            <div class="sub-menu">
                              <button type="button" class="sub-menu-close">
                                <svg width="24" height="17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M15.568 0L24 8.5 15.568 17l-1.73-1.744 5.405-5.448H0V7.192h19.243l-5.405-5.448L15.568 0z"></path>
                                </svg>
                              </button>
                              <ul>
                                <li><a href="https://redstone.media/servis-stvorennya-saytiv">Створення сайтів</a></li>
                                <li><a href="https://redstone.media/servis-brending-ta-dyzajn">Брендинг та дизайн</a></li>
                                <li><a href="https://redstone.media/servis-crm-sistemi">CRM системи</a></li>
                                <li><a href="https://redstone.media/servis-internet-magazyn">Інтернет магазин</a></li>
                                <li><a href="https://redstone.media/servis-landing-page">Лендінг</a></li>
                                <li><a href="https://redstone.media/servis-pidtrymka-sajtu">Підтримка сайту</a></li>
                                <li><a href="https://redstone.media/servis-redyzajn">Редизайн</a></li>
                                <li><a href="https://redstone.media/servis-rozrobka-dodatkiv">Розробка додатків</a></li>
                                <li><a href="https://redstone.media/servis-poshukova-optymizatsiia">Пошукова оптимізація</a></li>
                              </ul>
                            </div>
                          </li>
                          <li><a href="../nagorody">Нагороди</a></li>
                        </ul>
                      </nav>
                    </div>
                    <div class="col-lg-6">
                      <nav class="menu-fullscreen-primary">
                        <ul>
                          <li><a href="../rozrobka-veb-sajtiv">Блог</a></li>
                          <li><a href="../vidguky">Відгуки</a></li>
                          <li class="scroll-to-contacts menu-close">Контакти</li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                  <ul class="menu-social">
                    <li><a href="https://dribbble.com/REDSTONE_STUDIO" target="_blank" rel="nofollow"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                          <path d="M175.872 197.8c24.598-4.801 48.6-11.4 71.398-18.6-30.298-55.501-67.798-105.601-111.899-147.9-64.799 34.799-114.101 96.9-130 170.999 47.701 9.6 106.601 8.401 170.501-4.499zM418.571 60.099l-4.2 16.5c-6.599 26.4-62.399 64.2-135.599 91.501l-3.301 1.199c-29.7-56.1-67.2-107.1-110.999-151.199C192.672 7 223.571 0 255.671 0c57.299 0 110.7 20.2 153.3 52.299 3.299 2.4 6.601 4.801 9.6 7.8zM287.171 268.299c-7.8-21.299-16.5-41.999-26.1-62.1-25.199 8.401-51.899 15.601-79.2 21-29.7 6-68.399 11.4-109.199 11.4-23.401 0-48.401-1.8-72.1-6.301-.601 7.8.099 15.601.099 23.701 0 78.9 36 149.399 92.1 196.199.3-1.8.601-3.6.899-5.4C105.071 377.8 184.872 304.9 287.171 268.299z"></path>
                          <path d="M297.071 296.499c20.4 64.2 31.8 133.9 32.999 204.401-23.399 7.2-48.6 11.1-74.399 11.1-48.3 0-93.6-14.5-132.001-37.901-1.5-7.2-1.5-14.7-.298-22.5 9.3-56.699 83.699-122.399 173.699-155.1zM508.97 292.299c-12.599 87.902-70.899 161.4-149.499 196.501-2.1-69.6-14.101-137.401-34.2-201.301 67.2-18.599 130.901-16.499 183.699 4.8zM511.671 256v5.4c-57.299-21.301-125.2-22.2-196-2.1-7.8-21.599-16.8-42.599-26.4-62.999 49.311-18.515 141.337-61.127 154.2-112.5 41.701 45.298 68.2 105.898 68.2 172.199z"></path>
                        </svg>Dribbble</a></li>
                    <li><a href="https://www.behance.net/unionhello2d78" target="_blank" rel="nofollow"><svg xmlns="http://www.w3.org/2000/svg" width="16.75" height="16.75" viewBox="0 0 97.75 97.75">
                          <path d="M39.337 38.729c0-4.611-3.137-4.611-3.137-4.611H23.294v9.894H35.4c2.092-.001 3.937-.67 3.937-5.283zM36.201 50.846H23.294v11.85h12.311c1.852-.053 5.27-.633 5.27-5.76 0-6.152-4.674-6.09-4.674-6.09zM69.243 44.011c-6.849 0-7.804 6.835-7.804 6.835h14.565c.001 0 .088-6.835-6.761-6.835z"></path>
                          <path d="M48.875 0C21.882 0 0 21.883 0 48.875S21.882 97.75 48.875 97.75 97.75 75.867 97.75 48.875 75.868 0 48.875 0zm10.656 28.848h18.294v5.46H59.531v-5.46zm-9.246 28.638c0 13.533-14.084 13.088-14.084 13.088H13.128V26.236H36.2c7.012 0 12.547 3.871 12.547 11.805 0 7.935-6.766 8.438-6.766 8.438 8.919 0 8.304 11.007 8.304 11.007zm19.045 6.993c7.37 0 7.109-4.77 7.109-4.77h7.803c0 12.659-15.172 11.792-15.172 11.792-18.207 0-17.036-16.95-17.036-16.95s-.014-17.034 17.034-17.034c17.947 0 15.434 19.245 15.434 19.245H61.527c0 8.239 7.803 7.717 7.803 7.717z"></path>
                        </svg>Behance</a></li>
                    <li><a href="https://m.facebook.com/REDSTONEAGENCY" target="_blank" rel="nofollow"><svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6.53945 2.65667H8V0.112667C7.74802 0.078 6.88143 0 5.87218 0C3.76635 0 2.32381 1.32467 2.32381 3.75933V6H0V8.844H2.32381V16H5.1729V8.84467H7.40272L7.75669 6.00067H5.17224V4.04133C5.1729 3.21933 5.39422 2.65667 6.53945 2.65667Z"></path>
                        </svg>Facebook</a></li>
                    <li><a href="https://www.instagram.com/accounts/login/?next=/redstone.agency/" target="_blank" rel="nofollow"><svg enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path d="m1.5 1.633c-1.886 1.959-1.5 4.04-1.5 10.362 0 5.25-.916 10.513 3.878 11.752 1.497.385 14.761.385 16.256-.002 1.996-.515 3.62-2.134 3.842-4.957.031-.394.031-13.185-.001-13.587-.236-3.007-2.087-4.74-4.526-5.091-.559-.081-.671-.105-3.539-.11-10.173.005-12.403-.448-14.41 1.633z"></path>
                          <path d="m11.998 3.139c-3.631 0-7.079-.323-8.396 3.057-.544 1.396-.465 3.209-.465 5.805 0 2.278-.073 4.419.465 5.804 1.314 3.382 4.79 3.058 8.394 3.058 3.477 0 7.062.362 8.395-3.058.545-1.41.465-3.196.465-5.804 0-3.462.191-5.697-1.488-7.375-1.7-1.7-3.999-1.487-7.374-1.487zm-.794 1.597c7.574-.012 8.538-.854 8.006 10.843-.189 4.137-3.339 3.683-7.211 3.683-7.06 0-7.263-.202-7.263-7.265 0-7.145.56-7.257 6.468-7.263zm5.524 1.471c-.587 0-1.063.476-1.063 1.063s.476 1.063 1.063 1.063 1.063-.476 1.063-1.063-.476-1.063-1.063-1.063zm-4.73 1.243c-2.513 0-4.55 2.038-4.55 4.551s2.037 4.55 4.55 4.55 4.549-2.037 4.549-4.55-2.036-4.551-4.549-4.551zm0 1.597c3.905 0 3.91 5.908 0 5.908-3.904 0-3.91-5.908 0-5.908z" fill="#232323"></path>
                        </svg><svg height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg">
                          <linearGradient id="a1" gradientTransform="matrix(0 -1.982 -1.844 0 -132.522 -51.077)" gradientUnits="userSpaceOnUse" x1="-37.106" x2="-26.555" y1="-72.705" y2="-84.047">
                            <stop offset="0" stop-color="#fd5"></stop>
                            <stop offset=".5" stop-color="#ff543e"></stop>
                            <stop offset="1" stop-color="#c837ab"></stop>
                          </linearGradient>
                          <path d="M1.5 1.633C-.386 3.592 0 5.673 0 11.995c0 5.25-.916 10.513 3.878 11.752 1.497.385 14.761.385 16.256-.002 1.996-.515 3.62-2.134 3.842-4.957.031-.394.031-13.185-.001-13.587-.236-3.007-2.087-4.74-4.526-5.091C18.89.029 18.778.005 15.91 0 5.737.005 3.507-.448 1.5 1.633z" fill="url(#a1)"></path>
                          <path d="M11.998 3.139c-3.631 0-7.079-.323-8.396 3.057-.544 1.396-.465 3.209-.465 5.805 0 2.278-.073 4.419.465 5.804 1.314 3.382 4.79 3.058 8.394 3.058 3.477 0 7.062.362 8.395-3.058.545-1.41.465-3.196.465-5.804 0-3.462.191-5.697-1.488-7.375-1.7-1.7-3.999-1.487-7.374-1.487zm-.794 1.597c7.574-.012 8.538-.854 8.006 10.843-.189 4.137-3.339 3.683-7.211 3.683-7.06 0-7.263-.202-7.263-7.265 0-7.145.56-7.257 6.468-7.263zm5.524 1.471a1.063 1.063 0 1 0 0 2.126 1.063 1.063 0 0 0 0-2.126zm-4.73 1.243a4.55 4.55 0 1 0 .001 9.101 4.55 4.55 0 0 0-.001-9.101zm0 1.597c3.905 0 3.91 5.908 0 5.908-3.904 0-3.91-5.908 0-5.908z" fill="#fff"></path>
                        </svg> Instagram</a></li>
                  </ul>
                </div>
                <div class="col-lg-4 menu-fullscreen-right">
                  <div class="block-contact menu-animate-block">
                    <span class="block-title">email:</span>
                    <a href="mailto:office@redstone.media">office@redstone.media</a>
                    <span class="block-title">email:</span>
                    <a href="mailto:support@redstone.media">support@redstone.media</a>
                  </div>
                  <div class="block-brief menu-animate-block">
                    <p class="d-none d-lg-block">У Вас є цікавий проект, давай втілимо його в реальність</p>
                    <button type="button" class="btn btn-outline-secondary">Заповнити бриф</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- / header -->
    <main id="main">
      <div class="section-intro">
        <div class="position-relative container d-xl-flex flex-xl-column justify-content-xl-center">
          <div class="row flex-column-reverse flex-xl-row align-items-lg-center">
            <div class="col-xl-7 text-center text-xl-start">
              <h1 class="section-title h2 mx-auto ms-xl-0">Сайти <b>.</b> Арр <b>.</b> Брендинг - Робимо складне простим</h1>
              <a href="#" class="btn btn-outline-primary">Наші роботи</a>
              <ul class="list-logos">
                <li>
                  <a href="#" target="_blank">
                    <img src="images/clutchco.svg" alt="...">
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank">
                    <img src="images/green-awwwards.svg" alt="...">
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank">
                    <img src="images/itr_logo.svg" alt="...">
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank">
                    <img src="images/other.svg" alt="...">
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-xl-5">
              <div class="count-block type-1">
                <div class="svg-holder type-2">
                  <svg version="1.1" viewBox="0 0 100 100" width="100%" height="100%" preserveAspectRatio="xMidYMid meet">
                    <text x="50%" y="97%" stroke-width="1" text-anchor="middle">
                      <tspan class="text-bold">18</tspan>
                    </text>
                  </svg>
                </div>
                <span class="block-title">
                  <span class="d-xl-none">18</span>
                  Років переносимо ваш бізнес online
                </span>
              </div>
            </div>
          </div>
          <button class="btn-scroll scroll-section">
            <svg width="15" height="64" viewBox="0 0 15 64" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.5 0.499996V56.402" stroke="#989898" stroke-dasharray="5.49 8.78" class="dashed" />
              <path d="M13.5 55.4297L7.33784 62.2405L1.5 55.4297" stroke="#989898" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
        </div>
      </div>
      <div class="section-categories">
        <div class="container">
          <div class="section-header">
            <div class="h2 animation-appear-y">Ефектні та ефективні веб і мобайл рішення із зануренням у ваш бізнес</div>
            <p class="text animation-appear-y">Ми знаємо болі у Вашій ніші! У нашому арсеналі є всі інструменти для їх вирішення: <b>аналіз</b>, <b>брендинг</b>, <b>розробка сайту</b>, <b>створення app</b> і <b>технічна підтримка</b>.</p>
          </div>
          <div class="row">
            <div class="col-6 col-sm-4">
              <a href="#" class="category-item animation-appear-y">
                <span class="item-title">Доставка їжі</span>
                <span class="img-holder"><img src="images/redstone-food-delivery.png" alt="..."></span>
                <span class="review-overlay"><i class="review-icon"></i></span>
              </a>
            </div>
            <div class="col-6 col-sm-4">
              <a href="#" class="category-item animation-appear-y">
                <span class="item-title">Будівництво</span>
                <span class="img-holder"><img src="images/category-img-6.png" alt="..."></span>
                <span class="review-overlay"><i class="review-icon"></i></span>
              </a>
            </div>
            <div class="col-6 col-sm-4">
              <a href="#" class="category-item animation-appear-y">
                <span class="item-title">APP</span>
                <span class="img-holder"><img src="images/category-img-5.png" alt="..."></span>
                <span class="review-overlay"><i class="review-icon"></i></span>
              </a>
            </div>
            <div class="col-6 col-sm-4">
              <a href="#" class="category-item animation-appear-y">
                <span class="item-title">WEB Solution</span>
                <span class="img-holder"><img src="images/category-img-8.webp" alt="..."></span>
                <span class="review-overlay"><i class="review-icon"></i></span>
              </a>
            </div>
            <div class="col-6 col-sm-4">
              <a href="#" class="category-item animation-appear-y">
                <span class="item-title">Авто</span>
                <span class="img-holder"><img src="images/redstone-auto.png" alt="..."></span>
                <span class="review-overlay"><i class="review-icon"></i></span>
              </a>
            </div>
            <div class="col-6 col-sm-4">
              <a href="#" class="category-item animation-appear-y">
                <span class="item-title">Брендування</span>
                <span class="img-holder"><img src="images/category-img-3.webp" alt="..."></span>
                <span class="review-overlay"><i class="review-icon"></i></span>
              </a>
            </div>
          </div>
          <div class="text-center"><a href="../portfolio" class="btn btn-outline-primary">ПЕРЕГЛЯНУТИ ВСІ РОБОТИ</a></div>
        </div>
      </div>
    </main>
    <!--  footer -->
    <footer class="footer">
    </footer>
    <!-- / footer -->
    <div class="modal-overlay" id="modalContainer">
    </div>
  </div>
</body>

</html>