<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>test</title>
</head>

<body>
  <div class="wrapper">
    <!--  header -->
    <header class="header">
      <div class="container d-flex align-items-center justify-content-between">
        <div class="left-side justify-content-start">
          <div class="logo-holder">
            <a href="../"><img src="/images/logo.svg" alt="Створення сайтів Львів"></a>
          </div>
          <button type="button" class="btn-menu-toggle">
            <span class="btn-lines">
              <span></span>
            </span>
            <span class="btn-title-open">меню</span>
            <span class="btn-title-close">закрити</span>
          </button>
          <button type="button" class="btn open-popup d-none d-lg-block d-xl-none" data-rel="2">Задати запитання</button>
          <a href="tel:+380676075784" class="phone-number type-2 d-xl-none" target="_blank"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16.5453 0V-0.1H16.4453H3.55469H3.45469V0V20V20.1H3.55469H16.4453H16.5453V20V0ZM15.1734 18.7281H4.82656V1.27188H15.1734V18.7281Z" stroke-width="0.2"></path>
              <path d="M8 15H12V17H8V15Z"></path>
            </svg>+38 067 607 57 84</a>
        </div>
        <nav class="main-nav d-none d-xl-block">
          <ul>
            <li><a href="#">Портфоліо</a></li>
            <li class="has-children"><span>Послуги<i></i></span>
              <ul>
                <li><a href="#">Створення сайтів</a></li>
                <li><a href="#">Брендинг та дизайн</a></li>
                <li><a href="#">CRM системи</a></li>
                <li><a href="#">Інтернет магазин</a></li>
                <li><a href="#">Лендінг</a></li>
                <li><a href="#">Підтримка сайту</a></li>
                <li><a href="#">Редизайн</a></li>
                <li><a href="#">Розробка додатків</a></li>
                <li><a href="#">Пошукова оптимізація</a></li>
              </ul>
            </li>
            <li><a href="#">Брендинг</a></li>
            <li><a href="#">Контакти</a></li>
          </ul>
        </nav>
        <div class="right-side d-none d-xl-flex">
          <a href="tel:+380676075784" class="link-tel" target="_blank">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="CurrentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M16.5453 0V-0.1H16.4453H3.55469H3.45469V0V20V20.1H3.55469H16.4453H16.5453V20V0ZM15.1734 18.7281H4.82656V1.27188H15.1734V18.7281Z" stroke-width="0.2"></path>
              <path d="M8 15H12V17H8V15Z"></path>
            </svg>+38 067 607 57 84</a>
          <button type="button" class="btn btn-primary open-popup">Задати запитання</button>
        </div>
      </div>
    </header>
    <!-- / header -->
    <main id="main">
      <div class="section-categories">
        <div class="container">
          <div class="section-header">
            <div class="h2">Ефектні та ефективні веб і мобайл рішення із зануренням у ваш бізнес</div>
            <p class="text">Ми знаємо болі у Вашій ніші! У нашому арсеналі є всі інструменти для їх вирішення: <b>аналіз</b>, <b>брендинг</b>, <b>розробка сайту</b>, <b>створення app</b> і <b>технічна підтримка</b>.</p>
          </div>
          <div class="row">
            <div class="col-6 col-sm-4">
              <a href="#" class="category-item">
                <span class="item-title">Доставка їжі</span>
                <span class="img-holder"><img src="images/redstone-food-delivery.png" alt="..."></span>
                <span class="review-overlay"><i class="review-icon"></i></span>
              </a>
            </div>
            <div class="col-6 col-sm-4">
              <a href="#" class="category-item">
                <span class="item-title">Будівництво</span>
                <span class="img-holder"><img src="images/category-img-6.png" alt="..."></span>
                <span class="review-overlay"><i class="review-icon"></i></span>
              </a>
            </div>
            <div class="col-6 col-sm-4">
              <a href="#" class="category-item">
                <span class="item-title">APP</span>
                <span class="img-holder"><img src="images/category-img-5.png" alt="..."></span>
                <span class="review-overlay"><i class="review-icon"></i></span>
              </a>
            </div>
            <div class="col-6 col-sm-4">
              <a href="#" class="category-item">
                <span class="item-title">WEB Solution</span>
                <span class="img-holder"><img src="images/category-img-8.webp" alt="..."></span>
                <span class="review-overlay"><i class="review-icon"></i></span>
              </a>
            </div>
            <div class="col-6 col-sm-4">
              <a href="#" class="category-item">
                <span class="item-title">Авто</span>
                <span class="img-holder"><img src="images/redstone-auto.png" alt="..."></span>
                <span class="review-overlay"><i class="review-icon"></i></span>
              </a>
            </div>
            <div class="col-6 col-sm-4">
              <a href="#" class="category-item">
                <span class="item-title">Брендування</span>
                <span class="img-holder"><img src="images/category-img-3.webp" alt="..."></span>
                <span class="review-overlay"><i class="review-icon"></i></span>
              </a>
            </div>
          </div>
          <div class="text-center"><a href="../portfolio" class="btn btn-outline-primary">ПЕРЕГЛЯНУТИ ВСІ РОБОТИ</a></div>
        </div>
      </div>
    </main>
    <!--  footer -->
    <footer class="footer">
    </footer>
    <!-- / footer -->
  </div>
  </div>
</body>

</html>