html {
  font-size: 10px;
}

body {
  margin: 0;
  min-width: 320px;
  background: var(--bs-dark-bg-subtle);
  font: $font-weight-base #{$font-size-base}/ $line-height-base $font-family-base;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(xl) {
    padding-top: 30rem;
    padding-bottom: 30rem;
  }
}

a {
  text-decoration: none;
  transition: $transition;
}

a:hover {
  text-decoration: underline;
}

input {
  &:-webkit-autofill {
    box-shadow: 0 0 0 1000px lighten($black, 30) inset !important;
  }
  &:focus,
  &:focus-visible {
    outline: 0;
    box-shadow: none;
  }
}

button {
  align-items: unset;
}

button,
input[type="search"],
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
  cursor: pointer;
  transition: $transition;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  border: none;
  padding: 0;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  max-width: 120rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: var(--bs-body-bg);
  box-shadow: rgb(var(--bs-secondary-color-rgb), 0.25) 0 0 0.3rem 0;
  z-index: 5;

  [data-bs-theme="dark"] & {
    box-shadow: none;
    border: solid 0.1rem var(--bs-border-color);
  }
}

.site-main {
  flex-grow: 1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 h5,
.h5 {
  font-family: $secondary-font;
  font-weight: 400;
}

.bi {
  line-height: 0;
}

.container {
  max-width: 120rem;
}

// @include media-breakpoint-down(md) {
//   $grid-gutter-width: 20px;
// }
