// vars
$images: "../images/";
$fonts: "../fonts/";

$primary-font: "Roboto", sans-serif;
$secondary-font: "PT Sans", sans-serif;

/// new colors
$primary-color: #f2e8d9;
$secondary-color: #8c8983;
$accent-color: #ee991a;
$bg-color: #1c191e;

// base vars
$text-color-base: $secondary-color;
$body-bg: white;
$font-family-base: $primary-font;
$font-size-base: 1.6rem;
$font-weight-base: 400;
$line-height-base: 1.3;
$transition: all 0.3s ease;
$border-color: rgba($primary-color, 0.2);

// bootstrap vars
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 1,
  2: $spacer * 2,
  3: $spacer * 3,
  4: $spacer * 4,
  5: $spacer * 5
);

$blue: #029fd6;
$red: #d11a1f;

$border-color: #e9ecef;

$grid-columns: 12;
$grid-gutter-width: 30px;
$grid-gutter-width-mobile: $grid-gutter-width;
$dropdown-dark-link-active-bg: $accent-color;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1340px
);
