.section-fourth {
	position: relative;
	padding-bottom: 6rem;
	background: linear-gradient(180deg, $harp 6.02%, $hint-of-green 72.25%);

	@include media("<tablet") {
		padding-bottom: 13rem;
	}

	.dark & {
		background: linear-gradient(180deg, $outer-space 6.02%, $woodsmoke 72.25%);
	}

	.container {
		position: relative;
		z-index: 1;
	}

	h2 {
		margin-bottom: 2.3rem;
	}

	.content-holder {
		max-width: 47.3rem;

		@include media(">tablet") {
			padding-top: 5.6rem;
			margin-right: 2rem;
		}

		@include media("<tablet") {
			margin-top: -5rem;
		}
	}

	.text-holder {
		font-size: 2.4rem;
		line-height: 1.33;
		opacity: 0.7;

		@include media("<tablet") {
			font-size: 1.8rem;
			text-align: center;
		}
	}

	.row {
		display: flex;

		@include media(">tablet") {
			justify-content: space-between;
		}

		@include media("<tablet") {
			flex-direction: column-reverse;
			align-items: center;
		}
	}

	.btn-holder {
		margin-top: 4.3rem;

		@include media("<tablet") {
			display: flex;
			justify-content: center;
		}
	}

	.img-holder {
		position: relative;
		top: -11.6rem;
		margin-right: 1rem;
		width: 35.7rem;
		max-width: 100%;

		img {
			width: 100%;
			height: auto;
		}
	}
}
