.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#main {
  flex: 1;
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 125rem;
  width: 100%;
  margin: auto;
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.h1 {
  font-family: $font-quaternary;
  font-weight: 400;
  font-size: 4rem;
  letter-spacing: 0.12rem;

  @include media("<lg") {
    font-size: 2.5rem;
    line-height: 1.5;
  }
}

.text-uppercase {
  text-transform: uppercase;
}

.f-family-secondary {
  font-family: $font-secondary;
}

.text-center {
  text-align: center;
}
