body {
	padding: 0;
	margin: 0;
	background: #333;
}

.garland {
	display: flex;
	white-space: nowrap;
	height: 51px;
	overflow: hidden;
}

/* .garland__item {
	width: 200px;
	height: 100px;
	border-radius: 50% 50% 0 0 / 100% 100% 0 0;
	border: 10px solid #5881be;
	border-bottom: 0;
} */

.garland__item {
	position: relative;
	min-width: 100px;
	width: 100px;
	height: 20px;
}

svg {
	width: 100%;
	height: auto;
}

.bulb {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

.bulb::before {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -4.6px;
	transform: translateX(-50%);
	width: 5px;
	height: 5px;
	background: #5881be;
	z-index: -1;
}

.bulb::after {
	content: "";
	position: absolute;
	display: block;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	width: 60%;
	height: 60%;
	background: white;
	border-radius: 50%;
	opacity: 0.5;
}

.bulb:nth-child(1) {
	top: 5px;
	left: 43px;
}

.bulb:nth-child(2) {
	top: 17px;
	left: 10px;
	transform: rotate(208deg);
}

.bulb:nth-child(3) {
	top: 15px;
	right: 7px;
	transform: rotate(140deg);
}

.bulb.blue {
	background: #518fe5;
}

.bulb.blue.light {
	animation: blueAnimation 4s infinite ease-in;
	animation-delay: 1s;
}

.bulb.yellow {
	background: #ffdd7a;
}

.bulb.yellow.light {
	animation: yellowAnimation 4s infinite ease-in;
	animation-delay: 1s;
}

.bulb.red {
	background: #ff7a76;
}

.bulb.red.light {
	animation: redAnimation 4s infinite ease-in;
	animation-delay: 1s;
}

.bulb.green {
	background: #31b968;
}

.bulb.green.light {
	animation: greenAnimation 4s infinite ease-in;
	animation-delay: 1s;
}

@keyframes blueAnimation {
	0% {
		box-shadow: 0;
	}
	50% {
		box-shadow: 0px 0px 10px 3px rgba(81, 143, 229, 1);
	}
	60% {
		box-shadow: 0px 0px 10px 3px rgba(81, 143, 229, 1);
	}
	100% {
		box-shadow: 0;
	}
}

@keyframes yellowAnimation {
	0% {
		box-shadow: 0;
	}
	50% {
		box-shadow: 0px 0px 10px 3px rgba(255, 221, 122, 1);
	}
	60% {
		box-shadow: 0px 0px 10px 3px rgba(255, 221, 122, 1);
	}
	100% {
		box-shadow: 0;
	}
}

@keyframes redAnimation {
	0% {
		box-shadow: 0;
	}
	50% {
		box-shadow: 0px 0px 10px 3px rgba(255, 122, 118, 1);
	}
	60% {
		box-shadow: 0px 0px 10px 3px rgba(255, 122, 118, 1);
	}
	100% {
		box-shadow: 0;
	}
}

@keyframes greenAnimation {
	0% {
		box-shadow: 0;
	}
	50% {
		box-shadow: 0px 0px 10px 3px rgba(49, 185, 104, 1);
	}
	60% {
		box-shadow: 0px 0px 10px 3px rgba(49, 185, 104, 1);
	}
	100% {
		box-shadow: 0;
	}
}
