.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 71px;
  padding-bottom: 72px;
  color: rgba(60, 60, 67, 0.6);

  @media (max-width: 960px) {
    padding-top: 71px;
    padding-bottom: 68px;
  }

  @media (max-width: 480px) {
    padding-bottom: 67px;
  }

  .form {
    width: 100%;
  }

  .inner-holder {
    max-width: 470px;
    width: 100%;
    margin: auto;

    @media (max-width: 960px) {
      max-width: 351px;
    }

    @media (max-width: 768px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @media (max-width: 640px) {
      max-width: 440px;
    }

    @media (max-width: 480px) {
      max-width: 100%;
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;

    .col {
      flex-shrink: 0;
      max-width: 100%;
      flex: 0 0 auto;
      width: 50%;
      padding-left: 10px;
      padding-right: 10px;

      @media (max-width: 480px) {
        width: 100%;
      }
    }
  }

  .logo-holder {
    margin-bottom: 56px;

    @media (max-width: 480px) {
      margin-bottom: 57px;
    }
  }

  .h1 {
    margin-top: 0;
    margin-bottom: 11px;
    font-weight: 600;
    font-size: 34px;
    line-height: 1.17;
    color: #000000;

    @media (max-width: 480px) {
      margin-bottom: 12px;
      font-size: 25px;
    }
  }

  p {
    margin-top: 0;
  }

  .intro-text {
    margin-bottom: 30px;
    font-size: 17px;
    line-height: 1.19;
    text-align: center;

    @media (max-width: 480px) {
      margin-bottom: 29px;
    }

    p {
      &:not(:last-child) {
        margin-bottom: 6px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .form-group {
    margin-bottom: 18px;

    .form-prompt {
      padding-top: 8px;
      padding-bottom: 1px;
      font-size: 13px;
      color: rgba(60, 60, 67, 0.6);
    }
  }

  .form-control {
    display: block;
    width: 100%;
    padding: 14px 13px 12px 13px;
    font-size: 17px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    outline: none;
    letter-spacing: -0.6px;
    box-sizing: border-box;

    &::placeholder {
      color: rgba(0, 0, 0, 0.26);
    }

    &:focus {
      border-color: rgba(0, 0, 0, 0.2);
    }
  }

  .form-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 13px;
    font-size: 15px;
    line-height: 1.19;
    text-align: center;

    @media (max-width: 960px) {
      padding-top: 12px;
    }

    .text-holder {
      @media (max-width: 960px) {
        font-size: 17px;
      }
    }

    a {
      color: #007aff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .text-holder {
      p {
        margin-bottom: 18px;

        @media (max-width: 960px) {
          margin-bottom: 31px;
        }
      }
    }

    .control-checkbox {
      letter-spacing: -0.078px;
    }
  }

  .control-checkbox {
    display: flex;
    margin-bottom: 29px;
    font-size: 15px;
    color: rgba(60, 60, 67, 0.6);
    letter-spacing: -0.3px;

    @media (max-width: 768px) {
      margin-bottom: 29px;
    }

    input {
      position: absolute;
      opacity: 0;
      z-index: -1;

      &:checked {
        ~ .control-indicator {
          background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
          border-color: #367af6;

          &::before {
            opacity: 1;
          }
        }
      }
    }

    .control-indicator {
      position: relative;
      margin-top: 1px;
      display: block;
      width: 14px;
      height: 14px;
      margin-right: 13px;
      background: white;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 3px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_34_4)'%3E%3Cpath d='M2 5L4.25 7.5L8.5 1' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_34_4' x='0.75' y='0.249908' width='9.00012' height='9.00009' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='0.5'/%3E%3CfeGaussianBlur stdDeviation='0.25'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_34_4'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_34_4' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center top 2px;
        opacity: 0;
      }
    }
  }

  .btn-primary {
    padding: 5px 14px 3px 14px;
    font-weight: 500;
    font-size: 17px;
    color: #ffffff;
    background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
    border-radius: 6px;
    border: none;
    cursor: pointer;
    letter-spacing: 0.12px;

    &:hover {
      background: #367af6;
    }
  }
}
