<div class="form-wrapper">
	<div class="logo-holder">
		<img src="assets/images/logo.svg" alt="logo">
	</div>
	<h1 class="h1">Create Account</h1>
	<div class="intro-text">
		<p>Join us to xPaids Banking Metaverse.</p>
		<p>One account for everything xPaids. </p>
	</div>
	<form class="form">
		<div class="inner-holder">
			<div class="row">
				<div class="col">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="First name">
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Last name">
					</div>
				</div>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Email">
				<p class="form-prompt">
					This will be your new xPaids ID
				</p>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Password">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Confirm password">
			</div>
			<div class="form-bottom">
				<div class="text-holder">
					<p>Already have an account? <a href="#">Log in</a></p>
				</div>
				<label class="control-checkbox">
					<input type="checkbox" value="cc" />
					<span class="control-indicator"></span>
					<span>I agree with our <a href="/">Terms</a> and <a href="/">Conditions</a></span>
				</label>
				<button class="btn btn-primary">Continue</button>
			</div>
		</div>
	</form>
</div>