.container {
  padding-left: calc($grid-gutter-width / 2);
  padding-right: calc($grid-gutter-width / 2);
  max-width: 128rem;
  width: 100%;
  margin: auto;

  @include media-breakpoint-up(xxxl) {
    max-width: 160rem;
  }
}

.h1,
.h2 {
  font-weight: 600;
  font-size: 5rem;
  line-height: 1.24;
  color: $color-headdings;

  @include media-breakpoint-down(xxxl) {
    font-size: 4rem;
  }

  @include media-breakpoint-down(xl) {
    font-size: 2.6rem;
  }
}
