html {
  font-size: 10px;
  height: 100%;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  min-width: 320px;
  padding-top: 8rem;
  background-color: $body-bg;
  color: $text-color-base;
  font: $font-weight-base #{$font-size-base}/ $line-height-base $font-family-base;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include media-breakpoint-up(xxxl) {
    padding-top: 13rem;
  }

  @include media-breakpoint-down(xl) {
    padding-top: 6rem;
  }

  &.menu-opened {
    overflow: hidden;
  }
}

a {
  color: $links-color-base;
  transition: $transition;
}

a:hover {
  text-decoration: none;
}

button,
input[type="search"],
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
  cursor: pointer;
  transition: $transition;
}

button {
  background: transparent;
  border: none;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  border: none;
  padding: 0;
}

p {
  margin-top: 0;
}

.wrapper {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
}

html:not(.touch-screen) ::-webkit-scrollbar,
html:not(.touch-screen)::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

html:not(.touch-screen) ::-webkit-scrollbar-thumb,
html:not(.touch-screen)::-webkit-scrollbar-thumb {
  background: $color-primary;
}

html:not(.touch-screen) ::-webkit-scrollbar-track,
html:not(.touch-screen)::-webkit-scrollbar-track {
  background: #e1e1e1;
}
