// vars
$images: "../images/";
$fonts: "../fonts/";

// fonts
$main-font: -apple-system, BlinkMacSystemFont, Roboto, "Inter";

// breakpoints
$breakpoints: (
  sm: 575px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1820px
);

$grid-gutter-width: 30px;

// color vars
$color-headdings: #232323;
$color-text: #424242;
$color-primary: #e70000;

// base vars
$text-color-base: $color-text;
$body-bg: white;
$font-family-base: $main-font;
$font-size-base: 2.1rem;
$font-weight-base: 400;
$line-height-base: 1.4;
$links-color-base: inherit;
$transition: all 0.3s ease;
