.contact-modal {
	max-width: 80rem;

	.row {
		@include media(">=md") {
			display: flex;
		}

		.col {
			position: relative;
			width: 100%;
		}
	}

	.img-holder {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-top-left-radius: 1.5rem;
		border-bottom-left-radius: 1.5rem;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.inner-holder {
		padding: 2.7rem 4.2rem 1.5rem 4.2rem;

		@include media("<md") {
			padding: 3.8rem 3rem 1rem 3rem;
		}
	}

	.h3 {
		margin-bottom: 2.4rem;
		font-weight: 400;
		font-size: 3.4rem;
		line-height: 1.2;
		letter-spacing: 0.02em;
		text-align: center;

		@include media("<md") {
			max-width: 23.7rem;
			font-size: 1.8rem;
			margin: auto auto 1.8rem auto;
		}
	}

	.text-holder {
		margin-bottom: 2.4rem;
		font-size: 1.4rem;
		text-align: center;
		letter-spacing: 0.0025em;

		@include media("<md") {
			margin-bottom: 1.8rem;
			font-size: 1.2rem;
		}

		p {
			margin-bottom: 0;
		}
	}

	.btns-holder {
		display: flex;
		margin-bottom: 3.4rem;
		padding-top: 2.6rem;

		@include media("<md") {
			margin-bottom: 2.5rem;
			padding-top: 2.5rem;
		}

		.btn {
			width: 100%;

			@include media("<md") {
				padding-left: 1rem;
				padding-right: 1rem;
			}

			&:first-child {
				margin-right: 1rem;
			}
		}
	}

	.control-checkbox {
		@include media("<md") {
			margin-bottom: 1.3rem;
		}
	}

	.powered-by {
		display: flex;
		align-items: center;
		justify-content: center;

		.text {
			font-size: 1.3rem;
			line-height: 1.12;
			color: #919191;

			@include media("<md") {
				font-size: 0.9rem;
			}

			a {
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}

			p {
				margin-bottom: 0;
			}
		}

		.icon-holder {
			margin-right: 0.8rem;
		}
	}
}
