// fonts
$main-font: "Open Sans", sans-serif;
$secondary-font: "Rubik", sans-serif;

// breakpoints
$breakpoints: (
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
);

// base vars
$main-color: #1b5fc1;
$accent-color: #ffb800;
$text-color-base: #575c74;
$titles-color: #0c122d;

$body-bg: white;
$font-family-base: $main-font;
$font-size-base: 1.6rem;
$font-weight-base: 400;
$line-height-base: 1.8;
$links-color-base: inherit;
$headings-font-weight: 400;
$transition: all 0.3s ease;

// dev2
// dev3
// dev4
