.btn {
	display: inline-flex;
	justify-content: center;
	padding: 1rem 2.3rem;
	font-family: $secondary-font;
	font-weight: 500;
	font-size: 1.4rem;
	border-radius: 8px;

	@include media("<md") {
	}

	&:hover {
		text-decoration: none;
	}

	&-primary {
		color: white;
		background: $main-color;
		border: solid 0.1rem $main-color;

		&:hover {
			background: lighten($main-color, 10);
			border-color: lighten($main-color, 10);
		}
	}

	&-outline-warning {
		color: $accent-color;
		border: solid 0.1rem $accent-color;

		&:hover {
			color: white;
			background: $accent-color;
		}
	}

	&-outline-primary {
		color: $main-color;
		border: solid 0.1rem $main-color;

		&:hover {
			color: white;
			background: $main-color;
		}
	}
}
