.container {
	max-width: 115.5rem;
	width: 100%;
	margin: auto;
	padding-left: 2rem;
	padding-right: 2rem;
}

.h1 {
	font-family: $secondary-font;
	font-weight: 700;
	font-size: 7.2rem;
	line-height: 1.13;
}

.h2 {
	margin-bottom: 2.6rem;
	font-family: $secondary-font;
	font-weight: 700;
	font-size: 4.8rem;
	line-height: 1.04;
}

.row {
	display: flex;
	flex-wrap: wrap;
	@include set-gutter(3rem);

	.col {
	}
}

.sr-only {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

.border-radius-type-1 {
	border-radius: 1.6rem 1.6rem 1.6rem 0px;
}

.green-section-holder {
	background: #f5fcfa;
}
