.container {
	max-width: 118rem;
	width: 100%;
	margin: auto;
	padding-left: 2rem;
	padding-right: 2rem;
}

.h1 {
	font-family: $secondary-font;
	font-weight: 700;
	font-size: 7.2rem;
	line-height: 1.13;

	@include media("<lg") {
		font-size: 5.2rem;
	}

	@include media("<md") {
		font-size: 4.2rem;
	}
}

.h2 {
	margin-bottom: 2.6rem;
	font-family: $secondary-font;
	font-weight: 700;
	font-size: 4.8rem;
	line-height: 1.04;

	@include media("<lg") {
		font-size: 3.8rem;
	}

	@include media("<md") {
		font-size: 3rem;
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
	@include set-gutter(3rem);
}

.sr-only {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

.border-radius-type-1 {
	border-radius: 1.6rem 1.6rem 1.6rem 0;

	@include media("<md") {
		border-radius: 0.8rem 0.8rem 0.8rem 0;
	}
}

.green-section-holder {
	background: #f5fcfa;
}

.illustration-block {
	position: absolute;
	z-index: 1;
	max-width: 109rem;

	&::before {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		background-size: contain;
		background-repeat: no-repeat;
	}

	&.blue {
		width: 41%;
		padding-bottom: 77%;

		&::before {
			background-image: url("data:image/svg+xml,%3Csvg width='756' height='1462' viewBox='0 0 756 1462' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath style='mix-blend-mode:multiply' d='M-314.736 419.548C-345.978 388.306 -345.978 337.653 -314.736 306.411L-31.8932 23.5685C-0.651306 -7.67339 50.0019 -7.67339 81.2439 23.5685L731.782 674.107C763.024 705.349 763.024 756.002 731.782 787.244L81.2439 1437.78C50.0019 1469.02 -0.651306 1469.02 -31.8932 1437.78L-314.736 1154.94C-345.978 1123.7 -345.978 1073.04 -314.736 1041.8L-60.1775 787.244C-28.9356 756.002 -28.9356 705.349 -60.1775 674.107L-314.736 419.548Z' fill='url(%23paint0_linear_5_59)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_5_59' x1='-357.162' y1='348.838' x2='406.513' y2='1112.51' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%231B5FC1' stop-opacity='0.08'/%3E%3Cstop offset='1' stop-color='%231B5FC1' stop-opacity='0.04'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
		}
	}

	&.green {
		width: 60%;
		padding-bottom: 80%;

		&::before {
			background-position: right;
			background-image: url("data:image/svg+xml,%3Csvg width='760' height='1462' viewBox='0 0 760 1462' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath style='mix-blend-mode:multiply' d='M1070.09 1041.8C1101.33 1073.04 1101.33 1123.7 1070.09 1154.94L787.24 1437.78C756 1469.02 705.35 1469.02 674.11 1437.78L23.5699 787.24C-7.67011 756 -7.67011 705.35 23.5699 674.11L674.11 23.57C705.35 -7.67299 756 -7.67299 787.24 23.57L1070.09 306.41C1101.33 337.65 1101.33 388.31 1070.09 419.55L815.53 674.11C784.29 705.35 784.29 756 815.53 787.24L1070.09 1041.8Z' fill='url(%23paint0_linear_31_334)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_31_334' x1='1112.51' y1='1112.51' x2='348.84' y2='348.84' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2328BD86' stop-opacity='0.08'/%3E%3Cstop offset='1' stop-color='%2328BD86' stop-opacity='0.04'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
		}
	}

	&.left-pos-1 {
		top: 100rem;
		left: 0;
	}

	&.right-pos-1 {
		top: 198rem;
		right: 0;
	}
}
