.futures-section {
	padding-top: 7.2rem;
	padding-bottom: 4.3rem;

	@include media(">=lg") {
		padding-bottom: 5.8rem;
	}

	@include media("<md") {
		padding-bottom: 2.2rem;
	}

	.row {
		.col {
			flex: 0 0 auto;
			width: 25%;

			@include media("<lg") {
				width: 33.33333333%;
			}

			@include media("<md") {
				width: 50%;
			}

			@include media("<sm") {
				width: 100%;
			}
		}
	}

	.futures-item {
		display: flex;

		@include media("<lg") {
			margin-bottom: 3rem;
		}

		@include media("<md") {
			margin-bottom: 2rem;
		}

		.icon-holder {
			min-width: 4rem;
			width: 4rem;
			margin-right: 2rem;

			@include media("<md") {
				min-width: 3rem;
				width: 3rem;
				margin-right: 1.5rem;
			}

			img {
				width: 100%;
				height: auto;
			}
		}

		.h3 {
			margin-bottom: 1.5rem;
			font-weight: 700;
			font-size: 2rem;
			line-height: 1.4;

			@include media("<md") {
				margin-bottom: 1rem;
				font-size: 1.8rem;
			}
		}

		.text-holder {
			font-size: 1.5rem;
			line-height: 1.46;
		}
	}
}
