.intro-section {
	padding-top: 14.7rem;
	overflow: hidden;

	@include media("<lg") {
		padding-top: 10.3rem;
	}

	@include media("<md") {
		position: relative;
		padding-top: 7rem;
		padding-bottom: 3rem;
	}

	.container {
		@include media(">=md") {
			position: relative;
		}
	}

	.content-holder {
		position: relative;
		max-width: 55.5rem;
		z-index: 2;

		.before-title,
		.h1 {
			@include media("<md") {
				display: none;
			}
		}
	}

	.before-title {
		display: block;
		margin-bottom: 2rem;
		font-family: $secondary-font;
		font-weight: 500;
		color: $accent-color;
		font-size: 1.4rem;

		@include media("<md") {
			margin-bottom: 1.5rem;
		}
	}

	.h1 {
		margin-bottom: 2.3rem;

		@include media("<md") {
			margin-bottom: 2rem;
		}
	}

	.text-holder {
		margin-bottom: 5.5rem;
		font-size: 1.6rem;
		line-height: 1.5;

		@include media("<md") {
			margin-bottom: 2rem;
		}
	}

	.btns-holder {
		display: flex;

		.btn {
			&:first-child {
				margin-right: 2rem;
			}
		}
	}

	.btn-primary {
		box-shadow: 0 1rem 1.5rem rgba(27, 95, 193, 0.19);
	}

	.background-img {
		position: absolute;
		top: -15.3rem;
		right: -35rem;
		opacity: 0.15;
		width: 90.7rem;
		height: 91.4rem;

		@include media("<md") {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;

			@include media(">=md") {
				border-radius: 0 0 0 15rem;
			}
		}
	}

	.img-holder {
		// position: relative;
		// width: 100%;
		// max-width: 49.6rem;
		// min-height: 74rem;
		// z-index: 2;
		// background-size: cover;
		// background-repeat: no-repeat;
		// background-position: 65% -2%;

		// @include media(">=md") {
		// 	margin-left: auto;
		// }

		// @include media("<lg") {
		// 	min-height: 65rem;
		// }

		// @include media("<md") {
		// 	padding-bottom: 105%;
		// 	min-height: unset;
		// 	margin: auto auto 2rem auto;
		// }

		// img {
		// 	width: 100%;
		// 	height: 100%;
		// }

		position: relative;
		display: flex;
		max-width: 49.6rem;
		z-index: 2;

		@include media(">=md") {
			margin-left: auto;
		}

		@include media("<md") {
			margin: auto auto 2rem auto;
		}

		img {
			width: 100%;
			height: auto;
		}
	}

	.row {
		@include media(">=md") {
			align-items: center;
		}

		@include media("<md") {
			flex-direction: column-reverse;
		}

		.col {
			width: 100%;

			@include media(">=md") {
				max-width: 100%;
				flex: 1 0 0%;
			}
		}
	}

	.tablet-content {
		@include media(">=md") {
			display: none;
		}

		@include media("<md") {
			display: block;
		}
	}
}
