.intro-section {
	padding-top: 15.3rem;
	overflow: hidden;

	@include media(">=md") {
	}

	.container {
		position: relative;
	}

	.content-holder {
		position: relative;
		max-width: 55.5rem;
		z-index: 2;
	}

	.before-title {
		display: block;
		margin-bottom: 3rem;
		color: $accent-color;
		font-size: 1.4rem;
	}

	.h1 {
		margin-bottom: 4rem;
	}

	.text-holder {
		margin-bottom: 5.2rem;
		font-size: 1.6rem;
		line-height: 1.5;
	}

	.btns-holder {
		display: flex;

		.btn {
			&:first-child {
				margin-right: 2rem;
			}
		}
	}

	.btn-primary {
		box-shadow: 0 1rem 1.5rem rgba(27, 95, 193, 0.19);
	}

	.background-img {
		position: absolute;
		top: -15.3rem;
		right: -35rem;
		opacity: 0.15;

		img {
			border-radius: 0 0 0 15rem;
		}
	}

	.img-holder {
		position: relative;
		width: 100%;
		max-width: 49.6rem;
		min-height: 74rem;
		z-index: 2;
		object-fit: cover;
		background-repeat: no-repeat;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.row {
		.col {
			width: 100%;

			@include media(">=md") {
				max-width: 100%;
				flex: 1 0 0%;
			}
		}
	}
}
