.container {
	max-width: 147.1rem;
	margin: auto;
	padding-left: 2rem;
	padding-right: 2rem;

	@include media("<md") {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}

.sr-only {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

.row {
	display: flex;
}

.age-restrictions {
	position: relative;
	padding: 0.2rem 1.25rem;
	background: black;
	border-radius: 5rem;
	background: linear-gradient(black, black) padding-box, linear-gradient(to top, #26fff2, #326cff) border-box;
	border-radius: 5rem;
	border: 0.2rem solid transparent;
}

.section-title {
	position: relative;
	margin-bottom: 4rem;
	padding-left: 1.5rem;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 0.5rem;
		height: 100%;
		background: linear-gradient(316.53deg, #26fff2 13.2%, #326cff 71.54%);
		border-radius: 5rem;
	}

	.h2 {
		margin-bottom: 0;
		font-weight: 700;
		font-size: 2.8rem;
		line-height: 1.4;
		color: white;
	}

	a {
		display: inline-flex;
		align-items: center;
		text-decoration: none;

		&:hover {
			.icon-holder {
				transform: translateX(0.5rem);
			}
		}
	}

	.icon-holder {
		width: 3rem;
		display: flex;
		margin-left: 0.5rem;
		transition: transform 0.3s;

		img {
			width: 100%;
			height: auto;
			object-fit: contain;
		}
	}
}
