.mosaic-section {
	position: relative;
	z-index: 2;
	padding-bottom: 3rem;

	.mosaic-holder {
		border-radius: 0 2rem 2rem 0;
		overflow: hidden;

		@include media(">=lg") {
			display: flex;
			min-height: 60rem;
		}

		@include media("<md") {
			border-radius: 0 1rem 1rem 0;
		}
	}

	.left-side,
	.right-side {
		width: 100%;
	}

	.left-side {
		position: relative;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;

		@include media("<lg") {
			min-height: 45rem;
		}

		@include media("<sm") {
			flex-direction: column;
		}

		.img-holder {
			display: flex;

			@include media(">=sm") {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
			}

			@include media(">=lg") {
				height: 95.8%;
			}

			img {
				width: 100%;
				height: auto;

				@include media(">=sm") {
					height: 100%;
					object-fit: cover;
				}
			}
		}

		.mosaic-block {
			position: relative;
			z-index: 2;
			padding: 6rem 4rem 3.9rem 3.1rem;

			@include media("<lg") {
				max-width: 100%;
				width: 50%;
			}

			@include media("<sm") {
				width: 100%;
				padding-top: 4rem;
				padding-bottom: 3rem;
			}
		}
	}

	.right-side {
		.two-cols {
			display: flex;

			@include media("<lg") {
				flex-direction: row-reverse;
			}

			@include media("<sm") {
				flex-direction: column;
			}
		}

		.mosaic-block {
			padding: 8.2rem 3rem 3rem 3rem;

			@include media(">=lg") {
				min-height: 33.4rem;
			}

			@include media("<lg") {
				max-width: 100%;
				padding-top: 6rem;
			}

			@include media("<sm") {
				padding-top: 4rem;
				padding-bottom: 3rem;
			}
		}

		.text-holder {
			@include media(">=sm") {
				margin-bottom: 2.8rem;
			}
		}
	}

	.text-holder {
		font-size: 1.5rem;
		line-height: 1.6;
	}

	.mosaic-block {
		width: 100%;
		max-width: 28.5rem;

		.h3 {
			margin-bottom: 0.5rem;
			font-family: $secondary-font;
			font-weight: 700;
			font-size: 2rem;

			@include media("<sm") {
				font-size: 1.8rem;
			}
		}

		&.blue {
			color: white;
			background: $main-color;
		}

		&.white {
			background: white;
		}

		&.yellow {
			max-width: 100%;
			min-height: unset;
			padding: 4.1rem 3.8rem 5.4rem 3.8rem;
			color: #000000;
			background: $accent-color;

			@include media("<lg") {
				padding-left: 3rem;
				padding-right: 3rem;
			}

			@include media("<sm") {
				padding-top: 3rem;
				padding-bottom: 3.2rem;
			}

			.text-holder {
				@include media("<sm") {
					margin-bottom: 2rem;
				}
			}
		}
	}

	.block-footer {
		display: flex;

		@include media(">=sm") {
			align-items: center;
		}

		@include media("<sm") {
			flex-direction: column-reverse;
		}
	}

	.contact-us-holder {
		@include media(">=sm") {
			margin-left: 4rem;
			padding-left: 4rem;
			border-left: solid 0.1rem white;
		}
	}

	.contact-us {
		display: inline-flex;
		align-items: center;
		font-weight: 600;
		text-decoration: none;

		@include media("<sm") {
			margin-bottom: 2rem;
		}

		&:hover {
			opacity: 0.8;
		}

		.contact-us-title {
			display: block;
			font-size: 14px;
			line-height: 1.1;
			color: $main-color;
		}

		.contact-us-number {
			font-size: 2.4rem;
			line-height: 1;

			@include media("<sm") {
				font-size: 1.9rem;
			}
		}

		.btn-rounded-full {
			width: 4.6rem;
			height: 4.6rem;
			margin-right: 1.3rem;
			display: flex;
			align-items: center;
			justify-content: center;
			background: $main-color;
			border-radius: 50%;

			@include media("<sm") {
				width: 4rem;
				height: 4rem;
			}

			img {
				width: 1.5rem;
			}
		}
	}
}
